[2019-06-14 20:32] akulinski opened #1 "'generator-jhipster-nodejs@latest' is not in the npm registry."
## Overview of the issue
Generator installation fails with Not Found - GET https://registry.npmjs.org/generator-jhipster-nodejs - Not found

## Reproduce the error
npm install -g generator-jhipster-nodejs

## JHipster Version(s)
5.8.2

[node.log](https://github.com/jhipster/generator-jhipster-nodejs/files/3292132/node.log)

![node](https://user-images.githubusercontent.com/28159652/59536437-021b03

[2019-06-14 20:57] amanganiello90 commented on #1
Hi @akulinski, the generator isn't published yet because is a working progress.

[2019-06-14 20:57] #1 closed

[2019-06-14 21:22] deepu105 opened #2 "Remove CLI and use jhipster CLI"
Lets not use a separate CLI here. Blueprints should use jhipster cli and specify the blueprint name so that when we get multiple blueprint working we can interop without issues. Also it avoids fragmentation

[2019-06-15 11:26] hadirsa commented on #1
@amanganiello90  So how we can test it?

[2019-06-15 11:32] hadirsa opened #3 "Where to find contribution roadmap?"
To help in development, could you please share road map link?
@amanganiello90

[2019-06-15 12:47] amanganiello90 commented on #2
Hi @deepu105, I have added a cli script as [kotlin blueprint](https://github.com/jhipster/jhipster-kotlin).
it is not tested yet, and in my opinion is not a problem to provide another type of installation, also because it's the same jhipster running way (change only the installation and the execution command)

[2019-06-15 12:48] amanganiello90 commented on #3
Yes, now I provide a roadmap file on the master branch in order to develop the generator features

[2019-06-15 12:50] amanganiello90 commented on #1
@hadirsa, now the generator doesn't have any features (has only the initial commit of blueprint scaffolder). So consider the [conributin guide](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/CONTRIBUTING.md) to install, develop and try it

[2019-06-15 13:23] amanganiello90 commented on #3
@hadirsa, you can find the [ROADMAP](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/ROADMAP.md).
Please start to contribute to the **feature one**. Thanks

[2019-06-15 13:23] #3 closed

[2019-06-15 13:38] hadirsa commented on #3
That sounds great. To start, I think this  ROADMAP is enough. I'll do my best. @amanganiello90

[2019-06-17 13:55] hadirsa opened #5 "Uncaught TypeError: Cannot read property 'endsWith' of undefined"
## Reproduce the error
running Travis build
https://travis-ci.org/hadirsa/generator-jhipster-nodejs/builds/546741512
## Link to PR (if any)
https://github.com/jhipster/generator-jhipster-nodejs/pull/4

- [ * ] Checking this box is mandatory (this is just to show you read everything)

I get the error below running the build in Travis:
[code]
is this bug or something? @amanganiello90

[2019-06-17 17:12] amanganiello90 commented on #5
Hi @hadirsa, the error is lunched in the test phase. The root case is that the baseName variable of the application is not defined.
In fact in the [generator-base.js file](https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base.js) there is a check on the baseName:

``
/**
     * get the Angular application name.
     * @param {string} baseName of application
     */

[2019-06-17 17:12] #5 closed

[2019-07-02 09:59] Hawkurane opened #9 "Official generator files still generated."
**Describe the bug**
When generating an application (?), the original server files are generated (.java, dockers, etc.) while they shouldn't.

According to the roadmap, there should be a huge clean up of files and start from scratch.

**To Reproduce**
Generate a new node application.

**Expected behavior**
No src folder should be generated there as only "dummy.txt" should be generated.

**Desktop

[2019-07-07 16:10] ivangsa opened #13 "Task: entity-server generator and TypeORM mappings"
Hi

I would like to contribute code for TypeORM mappings for the server-entity generator. I will be starting right now unless you decide a different technology is a better fit.

[2019-07-07 17:01] amanganiello90 commented on #13
Hi @ivangsa, thank you very much for your helping! I'm always entusiastic with new contributors, and I love to answer very quickly to coordinate this generator..so let's grew up this project!...
Well, as I have said to @hadirsa on [gitter](https://gitter.im/generator-jhipster-nodejs/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge),  we have before to "clean" the pom.xml generated

[2019-07-07 17:13] amanganiello90 opened #14 "Orchestrate in the pom.xml client and server part without spring-boot"
@hadirsa, I can't assign you this issue because you aren't in the jhipster group.
 Don't worry, you will be soon :) . So I have moved the activity discussed in [gitter](https://gitter.im/generator-jhipster-nodejs/community) from the kanban board and tag you.
For every question feel free to ask me. Thank you very much for your contribution!

[2019-07-07 17:13] amanganiello90 opened #15 "add NestJS basic templates"
@hadirsa, I can't assign you this issue because you aren't in the jhipster group.
 Don't worry, you will be soon :) . So I have moved the activity discussed in [gitter](https://gitter.im/generator-jhipster-nodejs/community) from the kanban board and tag you.
For every question feel free to ask me. Thank you very much for your contribution!

[2019-07-07 17:14] amanganiello90 opened #16 "New pom.xml template without unuseful dependencies"
@hadirsa, I can't assign you this issue because you aren't in the jhipster group.
 Don't worry, you will be soon :) . So I have moved the activity discussed in [gitter](https://gitter.im/generator-jhipster-nodejs/community) from the kanban board and tag you.
For every question feel free to ask me. Thank you very much for your contribution!

[2019-07-10 19:42] hadirsa commented on #16
Great. Thanks, @amanganiello90. :)

[2019-08-13 17:50] amanganiello90 commented on #16
Task completed. Thanks

[2019-08-13 17:50] #16 closed

[2019-08-13 19:23] hadirsa commented on #15
@amanganiello90, I start to do this task. thanks.

[2019-08-16 14:24] amanganiello90 commented on #15
@hadirsa, I have just modified and implemented an app for us [example app](https://github.com/amanganiello90/nestjs-sequelize-typescript/tree/jhipster-dts).
In this project, that it had jwt and nestJS swagger integration, I have added the new DTS and replaced sequelize orm with TypeORM including sqlite instead of Postgres. But now the jwt authentication doesn't work. If you want to fix it, you are

[2019-08-16 17:20] hadirsa commented on #15
@amanganiello90, I'll check it and inform you about the changes, I have tried to generate server part with our own structure. it persists on creating with maven structure.  Do I need to change `this.SERVER_MAIN_SRC_DIR = constants.SERVER_MAIN_SRC_DIR;` or something?

[2019-08-16 17:53] hadirsa commented on #15
@amanganiello90 , `jwt authentication doesn't work.`, I have checked. it's working, I have registered a user, i have created a post and get all posts.
could please tell more about the error?
response for my login for new use in postman :

[code]

[2019-08-16 21:59] amanganiello90 commented on #15
@hadirsa, for the server directory we have not decided yet. Instead, for the example project, I had created a user using the swagger ui server on **localhost:3000/docs** using your request. Then I have added the previous token received in the header request (bearer <token>) calling the users get (that is protected), as explained in: https://docs.nestjs.com/recipes/swagger#authentication

[2019-08-19 16:08] amanganiello90 commented on #13
closed with #21

[2019-08-19 16:08] #13 closed

[2019-08-19 16:10] amanganiello90 commented on #15
Hi @hadirsa ,
@ivangsa  with #21 has resolved the issue. Thanks a lot.

[2019-08-19 16:10] #15 closed

[2019-08-19 16:12] amanganiello90 commented on #14
@hadirsa , thanks @ivangsa  for the #21, you can decided a way to orchestrate in monolithic app client and server generation. Feel free to decide a server folder and how to connect client build with server. Thanks

[2019-08-20 11:12] amanganiello90 commented on #2
cli removed in #21. Thanks

[2019-08-20 11:12] #2 closed

[2019-08-20 12:36] amanganiello90 opened #22 "Core admin user-management api"
Core admin use-rmanagement api implementation for NestJS

[2019-08-20 12:37] amanganiello90 commented on #22
@ivangsa this is the issue required from you. Thanks

[2019-08-20 15:32] amanganiello90 opened #23 "Integrate build server process and running with client part in dev and prod mode for monolithic app"
For the application type that is not monolithic with client, has already the maven command to run the entire project. Now it's necessary to include the client build in the server running (and build) exposed by NestJS

[2019-08-20 15:40] amanganiello90 opened #24 "Update README on root folder with new instruction"
As the blueprint generates for the microservice or monolithic app new structure, we have to override the standard jhipster README with a new that explains the instruction to run the app:

And for prod:

@hadirsa would you resolve this issue? Thanks

[2019-08-20 15:48] amanganiello90 commented on #14
I have risolved the issue with the [last commit](https://github.com/jhipster/generator-jhipster-nodejs/commit/db58be8b9518012d70b91778b380c98d55268a06)

[2019-08-20 15:48] #14 closed

[2019-08-20 16:08] amanganiello90 opened #25 "Delete unuseful old java questions"
With the new structure, the server generator prompts the standard java jhipster question that now are not all supported. So it would be good to override the prompt with only the right questions.

[2019-08-21 15:50] amanganiello90 commented on #23
The status is quite complete. The maven dev profile runs the build in serve mode exposing static client resources, while the prod profile build all (client and server parts) under **server/dist** folder. The only problem is that the client standard jhipster build with webpack (webpack:prod), controls in compile time also the typescript files under the **server** folder, giving problems for the ser

[2019-08-22 08:13] amanganiello90 opened #26 "Delete yarn for server side from pom.xml (allow only npm)"
Delete yarn for server side from pom.xml (allow only npm)

[2019-08-22 08:15] amanganiello90 commented on #26
Done with [this commit](https://github.com/jhipster/generator-jhipster-nodejs/commit/11209ac20aaf8c4b999ef3f4b754145cedf788e2)

[2019-08-22 08:15] #26 closed

[2019-08-22 09:06] amanganiello90 commented on #24
I have resolved this issue adding the [common generator](https://github.com/jhipster/generator-jhipster-nodejs/commit/d2c9dbe605ac4753d4ac2f3dae9e337d6907af88)

[2019-08-22 09:06] #24 closed

[2019-08-22 09:15] amanganiello90 opened #27 "Add information on jhipster official page about the development of this blueprint"
Hi @deepu105,
We are quite near to release the first version of this blueprint. Could you add a section in the [offical blueprint jhipster page](https://www.jhipster.tech/modules/official-blueprints/) ?
There would be good in order to give attention and pleasure to the all development community. Thanks a lot in advance.

[2019-08-22 09:27] amanganiello90 commented on #27
For this, I have created the [PR](https://github.com/jhipster/jhipster.github.io/pull/775) to update the official site. Could you merge that?

[2019-08-22 13:33] deepu105 commented on #27
Done merged. Thanks

Thanks & Regards,
Deepu

On Thu, Aug 22, 2019 at 11:27 AM Angelo Manganiello <
notifications@github.com> wrote:

[2019-08-22 13:35] amanganiello90 commented on #27
Thanks a lot!

[2019-08-22 13:35] #27 closed

[2019-08-22 21:11] amanganiello90 opened #28 "Add template NestJS for controller and service refactoring DTS JHipster compliant"
Refactoring DTS:
-1. Delete entity generator in blueprint

-2. server templates modify:
   - common/interceptors in new client folder
   - security up the common and delete it
   - delete core/users and split as a entity-server generation
   - rename model extension in entity name
   -  rename entity.repository extension in repository name

-3. entity-server modify:  common, domain, repository, se

[2019-08-23 09:47] amanganiello90 commented on #23
About the issues of client webpack that include also the server folder, there is a [workaround](https://stackoverflow.com/questions/41289265/webpack-ts-loader-compiling-all-files-when-i-only-want-it-to-run-in-one-folder-f)

[2019-08-23 15:51] amanganiello90 commented on #23
I have tested. The solution is to include in all tsconfig.json this exclusion:

``
  "exclude": ["node_modules", "server"]
``

[2019-08-23 16:14] hadirsa commented on #15
Hi @amanganiello90, good to hear, thanks @ivangsa, I was in the middle of the task. so I can switch to another one.

[2019-08-25 13:34] #23 closed

[2019-08-25 13:48] amanganiello90 opened #30 "A way to provide schema migration in dev startup"
A way to include mongodb in prod with db migration schema

[2019-08-26 08:25] amanganiello90 commented on #28
Update status:

-1. server templates modify:

    - common/interceptors in new client folder
    - security up the common and delete it
    - delete core/users and split as a entity-server generation
    - rename model extension in name.entity

-2. entity-server modify: common, domain, repository, service and controller

[2019-08-26 13:04] amanganiello90 opened #32 "Entity generator in running phase runs no database configured exception even if the yo-rc.json project file has databaseType with defined value"
The entity test is fixed and works, but when I run the entity command from a previous project generated:
``
jhipster entity foo --blueprint nodejs
``
It breaks with error:

``
Error: The entity cannot be generated as the application does not have a database configured!
    at Environment.error (C:\Users\amanganiello\Desktop\jhipster-projects\generator-jhipster\node_modules\yeoman-environment\lib\e

[2019-08-26 13:09] amanganiello90 commented on #30
Remember that, according the answer, it will be a prod db connection with sqlite (or mongodb)..

``
const defaultOptions = {
  type: 'postgres',
  port: 5432,
  username: 'user',
  password: 'password',
  database: 'db',
  synchronize: true,
};

@Module({
  imports: [
    TypeOrmModule.forRoot({
      ...defaultOptions,
      host: 'photo_db_host',
      entities: [Photo],
    })
``
So, according

[2019-08-26 13:11] #28 closed

[2019-08-26 19:32] amanganiello90 commented on #32
The issue is been tested and verified with [commit](https://github.com/jhipster/generator-jhipster-nodejs/commit/79caa78b0aa933377ecf82c485dcb013d3ebda3a)

[2019-08-26 19:32] #32 closed

[2019-08-26 19:34] amanganiello90 commented on #30
The issue is not more an optional, because we have to provide a migration with typeORM for scripts in dev mode running for sqlite

[2019-08-27 15:32] amanganiello90 commented on #22
Starting on [feature/security branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/security)

[2019-08-28 17:43] amanganiello90 commented on #22
The goal is to have all security management api in order to login/logout from the angular ui app in the monolithic project with jwt authentication. You have to "rewrite" jhipster copied api in nestjs typescript from [accounts.ts controller](https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/security/generators/server/templates/server/src/web/rest/accounts.controller.ts.ejs) and [us

[2019-08-30 19:27] amanganiello90 commented on #25
resolved with [PR](https://github.com/jhipster/generator-jhipster-nodejs/pull/33)

[2019-08-30 19:27] #25 closed

[2019-08-30 19:35] amanganiello90 opened #34 "Server part regeneration does not consider yo-rc.json, so it recalls server generator prompt"
If you re run generation, only for the server generator it ignores the yo-rc.json, reasking the prompt questions. I have fixed that adding in initialitation phase:

[code]

But now there is the problem that the generators does not read the answers from the yo-rc.json for the server generation (serverPort and mongoDatabaseProd variables). I have tried with the following but it doesn't retrieve para

[2019-09-02 11:28] amanganiello90 commented on #30
Consider [feature/migration-db](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/migration-db) and this **src/ormconfig.ts**:

[code]

[2019-09-02 11:56] deepu105 commented on #30
I wouldn't want to have another question for this. Can we do it with flag
or vis JDL?

Thanks & Regards,
Deepu

On Mon, Sep 2, 2019 at 1:28 PM Angelo Manganiello <notifications@github.com>
wrote:

[2019-09-02 12:02] amanganiello90 commented on #30
Hi @deepu105,
now for this blueprint, in the server generator there are only two questions: _serverPort_ and _mongoProdDatabase_ . The other prompts questions for the server generation are been delated, because in this blueprint they haven't sense to be due to their java spring meaning. So if you answer to yes for the *mongoProdDatabase* there will generated the config for this, otherwise the sqli

[2019-09-02 13:29] deepu105 commented on #30
Ok in that case I

Thanks & Regards,
Deepu

On Mon, Sep 2, 2019 at 2:02 PM Angelo Manganiello <notifications@github.com>
wrote:

[2019-09-03 21:32] #30 closed

[2019-09-03 21:44] amanganiello90 opened #36 "Avoid in dev startup to reinsert initial users in db"
Now there is a **server/src/initial-data.load.ts** that inserts initial user data (for security) on the server startup. For every reload, 'cause the id primary keys are autogenerated, it reinsert the same data. Find a way to avoid that.

[2019-09-11 13:48] amanganiello90 commented on #22
The development on [feature/security branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/security) of the simple app generated is finished. For the next days I will integrate it changes in the generator, updating the changelog and documentation. After, in this way, I will release the first version of the blueprint

[2019-09-13 16:05] amanganiello90 commented on #34
resolved in #37

[2019-09-13 16:05] #34 closed

[2019-09-14 09:48] #22 closed

[2019-09-14 10:02] amanganiello90 opened #38 "Release the first 1.0.0-alpha.2 version of NodeJS blueprint"
Hi all wonderful community, @jdubois, @deepu105 and @pascalgrimaud,
as discussed in the private and public chats, I'm ready to release the first version of the generator with the tested and last features developed by me, indicated in the [CHANGELOG](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/CHANGELOG.md).
Thanks all for the attention and the interest :) .

[2019-09-14 10:17] jdubois commented on #38
Awesome, congrats!!!
Let me add the bug bounties, and give you the permissions - I'll do this at the beginning of next week.
We must also add a sample app, etc.

[2019-09-14 10:22] amanganiello90 commented on #38
Hi @jdubois , thanks a lot! I have already provided all that is needed (at least I think :) ... All it's explained in the README.md (where during the release phase I will update the Title with "REALESED" instead of "IN DEVELOPMENT".. so in that it's indicated all info, with a demo gif and an [example app](https://github.com/amanganiello90/jhipster-nodejs-sample-app/tree/v1.0.0)

[2019-09-14 10:26] jdubois commented on #38
Perfect, I'll have a look next week.
Ping @jhipster/developers !!

[2019-09-14 12:13] gmarziou commented on #38
Excuse my ignorance but why does generated project require maven?

[2019-09-14 14:23] amanganiello90 commented on #38
@gmarziou on your machine you don't have to install maven on your machine, it is included in the generated project as wrapper (mvnw). As a normal jhipster requirement, you must have only java installed. The project contains a pom.xml because there are some profiles and command to build the server part with the client part (maven in this generator is a sort of "orchestrator"). However you can run t

[2019-09-14 14:54] mraible commented on #38
I don't think the Node.js or .NET blueprints should require Maven or Gradle at all.

[2019-09-14 15:03] PierreBesson commented on #38
Personally I am in favor of having a generated pom. I personally use either maven or gradle with the node plugin in all my node project to simplify CI setup. This allows to download the right node version which is a big annoyance. Of course you could do this with NVM as well which is a shell script solution to the same problem but it cannot fully wrap node like maven/gradle. Of course if people do

[2019-09-14 15:27] gmarziou commented on #38
I'm on same page with Matt, I tend to think that people wanting to use Nodejs blueprint might not expect a hybrid environment (java+node). IMHO, it should be an option and default should be 'no java', or maybe move it to a docker container.

Otherwise, I think we could realistically expect some flame wars or basic questions about how maven works (e.g. with proxies) or even worse about how to insta

[2019-09-14 15:32] amanganiello90 commented on #38
@gmarziou in fact I have put it for the same reasons that @PierreBesson have explained. It is compliant with the jhipster standard, so the developers have already confidence with maven structure.. but this pom has only profiles and maven-frontend-plugin to run frontend and/or server part. If you want to use maven, you can delete it after generation, otherwise you can hold it and use the standard n

[2019-09-14 15:35] mraible commented on #38
It’s clear, and I think it’ll hurt marketing for the Node.js backend. If I was a Node.js developer and I started a new project with it, I wouldn’t want to see any Java-related artifacts in my project. I doubt there’s many Java developers that want to develop Node.js backends. If there’s Maven files present, that seems like the audience you’re trying to target.

[2019-09-14 15:37] amanganiello90 commented on #38
@mraible in the project java artifacts aren't generated, there is only a pom.xml that could help the CI/CD processes and to "assembly" the full app.

[2019-09-14 15:40] gmarziou commented on #38
By the way, maybe you should mention typescript in the stack used in https://github.com/jhipster/generator-jhipster-nodejs/blob/master/README.md

[2019-09-14 15:50] gmarziou commented on #38
This was not obvious for me when I read the README of the generated project: https://github.com/amanganiello90/jhipster-nodejs-sample-app#building-and-running

[2019-09-14 16:04] gmarziou commented on #38
Just tried it and there are few things printed on screen that could confuse node developers but I don't know if a blueprint has control over these:

./mvnw clean package -Pdev (mvnw clean package -Pdev if using Windows Command Prompt)

Next, I tried to run it as instructed but I did not have java installed:

[code]

[2019-09-15 09:08] amanganiello90 commented on #38
@gmarziou NestJS, as Angular, is already a framework written in typescript

[2019-09-15 09:12] amanganiello90 commented on #38
This mode run is a sort of "shortcut/facility" to run one shoot frontend/server app in a single process ( at the same manner of a spring boot execution). But if you want to use that command, you can run separately the npm scripts as explained in the [server/README.md](https://github.com/amanganiello90/jhipster-nodejs-sample-app/tree/v1.0.0/server)  (it's indicated in the README.md linked from you)

[2019-09-15 09:25] amanganiello90 commented on #38
1. For the test framework question, it's inherited from the general app generator that it's not allowed to override (as the applicationType and the app name) . This question does not generate nothing whatever response. If you know the way to delete that question, you are welcome to submitt the relative PR :)

2. After generation the blueprint prints on console the facility command to run the entir

[2019-09-15 09:34] gmarziou commented on #38
I rather propose to change the texts in the main generator:

would become

and

would become:

[2019-09-15 09:38] gmarziou commented on #38
According to their doc, it is built with and fully supports TypeScript (yet still enables developers to code in pure JavaScript). My point here is that the generator generates typescript.

[2019-09-15 09:41] amanganiello90 commented on #38
Hi @gmarziou, thanks for the help :)
however:
1. I can't delete the JUnit question or modify it because it belongs to the general app generator that is not allowed to override [basic rules for jhipster blueprint](https://www.jhipster.tech/modules/creating-a-blueprint/)
2. "Run your backend application:" for me it's better **Run your app**, because you can choose also a monolithic app that has the

[2019-09-15 10:27] amanganiello90 commented on #38
@gmarziou resolved all with #40 , you can view the new app committed [here](https://github.com/amanganiello90/jhipster-nodejs-sample-app/tree/v1.0.0)

[2019-09-16 15:07] amanganiello90 opened #41 "Support all databases using the standard jhipster question (prodDatabaseType)"
- Deleting mongoProdDatabase custom question
- Adding in package.json dependency for all databases supported by TypeORM
- Adding log before prompt for standard configuration (security jwt, swagger and so on)

[2019-09-16 15:13] amanganiello90 commented on #41
Done with PR #42

[2019-09-16 15:13] #41 closed

[2019-09-16 15:58] ameinabdi commented on #38
@amanganiello90 did generator have font-end of react if it not why don't you add it ?

[2019-09-16 16:05] amanganiello90 commented on #38
Hi @ameinabdi , thanks for the question.
Now the generator supports for the client only Angular. For more information about features enabled please refers to [README.md](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/README.md), [CHANGELOG.md](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/CHANGELOG.md) and the [sample app](https://github.com/amanganiello90/jh

[2019-09-18 08:33] amanganiello90 commented on #38
Guys, Any news to prepare the release? An official repo for sample app, grants to publish the package , and so on. Thanks

[2019-09-18 09:06] jdubois commented on #38
Sorry @amanganiello90 I took too much time:

- I had a quick look at the generated code, I'm impressed by how close this is to our Java code. I love this, as one of the idea is to have something consistent across technologies/frameworks.
- I don't have the time nor the technical competency to do more than a quick look, but I hope we will get more reviews and feedback - publishing this is a good wa

[2019-09-18 09:18] jdubois commented on #38
@amanganiello90 you should have received the invitation to our NPM org by email.
Once you accept it, I'll add you to a specific team for this project.

Then I have a doubt on the process, because I think they improved it since the last time I did it. Here's what we used to do, but I hope it's better: you need to publish the package yourself, and then transfer it to me (login "jdubois"), so I can t

[2019-09-18 09:30] amanganiello90 commented on #38
@jdubois thanks a lot! For me it's a pleasure, an honor for me to receive compliments from you!
I have accepted the npm invite, my npm username is **amanganiello90**.
So I have to publish the package from myself with a 1.0.0-alfa.1 and notify you?

[2019-09-18 09:50] jdubois commented on #38
@amanganiello90 c'mon, you're the one doing all the hard work :-)
I have added you to the "nodejs-blueprint" team:

- Please set up 2FA authentication, as at some point we will need to enforce this
- For you package name, can you rename "alfa" to "alpha"?
- Once it's released, *I guess* that then you need to transfer it to me, and then I'll add it to the org, as this can only be done by a org owne

[2019-09-18 10:15] amanganiello90 commented on #38
@jdubois very gentleman :) ..
Do you refer to [npm jhipster team](https://www.npmjs.com/org/jhipster)?
So,
1. Where I have to set authentication?
2. Yes, of course
3. Ok, perfect
Thanks again.

[2019-09-18 11:19] jdubois commented on #38
Oh @amanganiello90 what you refer to is the JHipster organization on NPM, and inside it there are several teams (it seems those are not public, I don't know why, maybe for privacy). So I created one specific team, which will have full permissions on the future generator-jhipster-nodejs package (but not on the other packages, of course).

I'm sure it will end up working well, as we already set this

[2019-09-18 11:37] amanganiello90 commented on #38
Okkkkk, I have also activate on npm TF auth:
![immagine](https://user-images.githubusercontent.com/20536757/65145274-7f857100-da19-11e9-8999-52af3c780ed0.png)

[2019-09-18 19:47] jdubois commented on #38
@amanganiello90 in your readme you point to a sample application that returns a 404... It probably worked before, as I remember looking at your generated code.
Anyway, the sample application should be under the JHipster org, let me create this for you! I will call it "jhipster-sample-app-nodejs".

[2019-09-18 20:00] amanganiello90 commented on #38
Yes, today I moved the repo and I created a branch for the release with the correct url.. Perfect, I was waiting for the official repo :) thanks @jdubois

[2019-09-18 20:08] manekinekko opened #43 "(Global) rimraf: command not found"
**Describe the bug**
Following the installation steps (and those for jhipster). I am getting this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:jhipster/generator-jhipster-nodejs.git`
2. `cd $_`
2. `npm i`
2. `npm link .`
2. `npm i -g yo`
2. `npm i -g generator-jhipster`
2. `take /tmp/demo-app`
2. `jhipster --blueprint nodejs`
4. See error

**Expect

[2019-09-18 20:29] amanganiello90 commented on #43
Hi @manekinekko , thanks for your feedback!
I have a question for you.. do you have performed the **npm install** under the server folder? I tell you that, because, as you can view on the [server package.json sample app](https://github.com/jhipster/jhipster-sample-app-nodejs/blob/v1.0.0-alpha.1/server/package.json), there is rimraf a dependency. I have tested this sample app, so you can tell me al

[2019-09-18 20:43] amanganiello90 commented on #43
Hi @manekinekko, just a last advice... If you have still issues, run the blueprint with **jhipster --blueprint nodejs --skip-install**. Maybe it's a problem of a install hook. Thanks

[2019-09-19 07:33] jdubois commented on #43
I've had those "rimraf" issues in the past, and I probably installed it globally to fix this, so I hope there isn't a bigger issue here

[2019-09-19 09:41] amanganiello90 opened #44 "Replace maven pom.xml (with JAVA requirement to run it) with a simple node script to manage profiles"
Hi all,
as @gmarziou and @mraible have indicated, we can replace the maven tool with a simple node script to manage running and building profiles (dev or prod), and in future other profiles (as example CI/CD and so on). In a standard jhipster app, only for a monolithic app with the client there is the maven frontend plugin to install and manage node/npm version, but in this blueprint, that is mand

[2019-09-19 09:45] amanganiello90 opened #45 "Language i18n for angular home page translation NHipster"
If we choose the internationalization answer, the default html home page for NHipster is translated. So it is needed to override also the languages json files for NHipster in Angular client.

[2019-09-19 10:07] amanganiello90 opened #46 "Test compatibility and home page with i18n for react client"
As explained @ameinabdi [here](https://github.com/jhipster/generator-jhipster-nodejs/issues/38#issuecomment-531841884), we have to test compatibility with NHipster and provide i18n for react client.

[2019-09-19 10:47] manekinekko commented on #43
That's not something we recommend :)

[2019-09-19 11:44] amanganiello90 commented on #43
@manekinekko for me it' s very strange, I have run the generator in various machines without rimraf installed globally and it works.

[2019-09-19 14:12] amanganiello90 commented on #38
@jdubois I have just released the generator, and it is published now: https://www.npmjs.com/package/generator-jhipster-nodejs/v/1.0.0-alpha.2 .
I have also transfer to you on npm. Thanks

[2019-09-19 14:39] amanganiello90 commented on #38
$500 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/10177

[2019-09-19 19:19] jdubois commented on #38
@amanganiello90 awesome! I just paid the bounty!
I also moved the NPM package to the JHipster organization on NPM, and you should have full permissions on it. So that should all be OK, but the NPM UI is so broken that I hope everything's fine: don't hesitate to contact me on this!

[2019-09-19 20:40] amanganiello90 commented on #38
@jdubois, thanks very very much! Yes, it's all OK. If in future I have problems to transfer new release packages in the npm jhipster, I will know it to you. Thanks a lot again for the advices and interest.

[2019-09-19 20:40] #38 closed

[2019-09-20 06:49] subbu519 opened #48 "Unable to create new project"
**Describe the bug**
Already run the command "npm install -g generator-jhipster-nodejs" but got error when run "jhipster --blueprint nodejs"

      throw er; // Unhandled 'error' event
      ^

Error: The ←[33mgenerator-jhipster-nodejs←[39m blueprint provided is not installed. Please install it using command ←[33mnpm i -g generator-jhipster-nodejs←[39m.
    at Environment.error

[2019-09-20 07:42] amanganiello90 commented on #48
Hi,
thanks for the feedback!
Probably you don't have correctly installed the generator, and then you have to retry.
Please check these questions:
1.  What version of node are you using? Execute ```node -v```... the version recommended is above 8.10.x
2. Check if the generator is installed, executing ```npm list -g generator-jhipster-nodejs```, it will display:

└── generator-jhipster-nodejs@1.0.0-

[2019-09-20 09:03] subbu519 commented on #48
Ok, But got same Issue
![Screenshot (61)](https://user-images.githubusercontent.com/32788300/65314236-8cd66300-dbb3-11e9-8e2c-2bbfd9f0ed3c.png)

[2019-09-20 09:08] amanganiello90 commented on #48
You can switch a older version of nodejs (8.10.x)? I see that you use the 10.x.
On windows you can use [nvm](https://github.com/coreybutler/nvm-windows) to use various node.js version. After reinstall the generator.

[2019-09-20 09:25] #43 closed

[2019-09-20 10:29] amanganiello90 opened #49 "Add package.json template also for server generation without client"
I have found that the package.json with the local jhipster dependency is not generated in the case of no client. We need to provide it in order to avoid error install hook. Besides it can be useful for the pom.xml changing in node script. Check [package.json](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/package.json.ejs) avoiding open api and adding [check

[2019-09-20 10:30] subbu519 commented on #48
Still it's not working
![Screenshot (64)](https://user-images.githubusercontent.com/32788300/65320545-b9907780-dbbf-11e9-8150-06a48224243c.png)

[2019-09-20 10:32] amanganiello90 commented on #48
Hi @subbu519 ,
the command without blueprint nodejs option is only ```jhipster```.

[2019-09-20 10:41] subbu519 commented on #48
when  I am using "jhipster" command it generates Java Project

[2019-09-20 10:44] amanganiello90 commented on #48
Yes, there was a test to understand if jhipster standard cli is installed correctly.

[2019-09-20 10:57] subbu519 commented on #48
It s done when I am following this one

[2019-09-20 10:57] subbu519 commented on #48
thankyou @amanganiello90

[2019-09-20 11:01] amanganiello90 commented on #48
But It's strange that the install from the npm registry not recognise that generator in the running phase. I have tested the installation in different machines, maybe you have not installed globally yeoman or some jhipster dependency packages. Thank you.

[2019-09-20 11:01] #48 closed

[2019-09-20 11:28] ameinabdi opened #50 "how do i connect sql database ?"
How can read about sql db connection?

when i select mysql database i got this error to start project

![Screenshot 2019-09-20 at 2 33 36 PM](https://user-images.githubusercontent.com/31644919/65324042-b099a900-dbb3-11e9-87e3-392b649e6244.png)

[2019-09-20 11:33] amanganiello90 commented on #50
Hi @ameinabdi,
there is the [orm.config.ts](https://github.com/jhipster/jhipster-sample-app-nodejs/blob/v1.0.0-alpha.2/server/src/orm.config.ts) where is stored db information. For dev it will be always sqlite created on app startup.

[2019-09-20 11:35] ameinabdi commented on #50
i have added my info about database in that file but i still it doesn't work so did you test sql before now ?

[2019-09-20 11:36] amanganiello90 commented on #50
What db have you ever choosen in the related question?

[2019-09-20 11:37] ameinabdi commented on #50
mysql

[2019-09-20 11:37] amanganiello90 commented on #50
What command are you using to startup application? Write in order the commands.

[2019-09-20 11:38] ameinabdi commented on #50
jhipster --blueprint nodejs

[2019-09-20 11:41] amanganiello90 commented on #50
That command is for generation.. I said about startup.. however for mysql prod db, the connection created is:
[code]

Change url with your mysql instance.

[2019-09-20 11:43] ameinabdi commented on #50
i run this command inside the server folder
npm start

[2019-09-20 11:44] amanganiello90 commented on #50
Ok, so you are using sqlite dev db, not mysql

[2019-09-20 11:46] ameinabdi commented on #50
but i don't need to use sqlite. i need to use mysql database

[2019-09-20 11:51] amanganiello90 commented on #50
Then, replace in the if of Prod section [the mysql source configuration](https://github.com/jhipster/generator-jhipster-nodejs/issues/50#issuecomment-533518916) and run:

``` set NODE_ENV=prod&&npm start ```

[2019-09-20 11:52] ameinabdi commented on #50
okey thanks a lot mr @amanganiello90

[2019-09-20 12:00] #50 closed

[2019-09-20 13:14] amanganiello90 opened #51 "Test and information about prod database connection and running"
For the question in #50, we need to test prod connection db and give doc to run it in prod for typeorm url instance changing (modify server README)

[2019-09-20 13:18] amanganiello90 opened #52 "Support okta oauth2 security feature"
As @mraible asked me, we would provide support to choose instead of simple jwt authentication, the oauth2 protocol in the related question. Passport can already allow this configuration with the correct strategy class. Please refer to [oauth2 server](https://github.com/jersonsw/oauth2-server) or [nestJS oauth2 app](https://github.com/bojidaryovchev/nest-angular)

[2019-09-20 15:27] amanganiello90 opened #53 "Encrypt user passwords on db"
We need to write and read password on db with encryption way. See [this microservice](https://github.com/bojidaryovchev/nest-angular/blob/master/src/server/utilities/encryption.ts) as reference.

[2019-09-22 09:46] manekinekko commented on #43
@amanganiello90 FYI, `take` is a `zsh` command which creates and `cd` into a new folder.

I was also getting to open another issue where the installation process (of jhipster) is requesting me to install Java! But I'm gonna leave it here.

For context, as a Node and a JavaScript developer, I was called in by @jdubois to give my feedback on this project. My feeling so far is If this blueprint is ai

[2019-09-22 10:06] amanganiello90 commented on #43
Hi @manekinekko
I have already adds in the backlog the issue #44 in order to leave java, according other feedbacks. The only problema is that I can modify the blueprint, but not the basic jhipster standard CLI that you must install before, so if it requires for the installation Java, the developer should have almost a JRE on his machine. Otherwise, we have to add an optional or remove the constran

[2019-09-22 11:10] jdubois commented on #43
Indeed Java shouldn't be a requirement anymore for the jhipster CLI.
I haven't followed this, but I think this is handled on the JHipster CLI side, @amanganiello90 do you have some more information? Can you add a ticket on jhipster/generator-jhipster so this is tracked?

[2019-09-22 11:57] amanganiello90 commented on #43
Hi @jdubois,
There is a [java check](https://github.com/jhipster/generator-jhipster/blob/1e0faa826a79156a7aad6376a5028b140d4f9760/generators/info/index.js#L71) called from the [general app index.js](https://github.com/jhipster/generator-jhipster/blob/9e587ccc47a7f3f37b52b92079bc81ae85f37c53/generators/app/index.js#L240)...Should I open a ticket and try to resolve it? Thanks

[2019-09-22 12:03] jdubois commented on #43
Yes, don't hesitate!! I'm clearly not doing everything in the project, the best and only way to get that kind of thing moving is through tickets, so the right person can take it. And if it doesn't move fast enough I can give bug bounties :-)

[2019-09-22 12:10] amanganiello90 commented on #43
OK wonderful!

[2019-09-22 17:06] amanganiello90 commented on #44
Starting issue on [no-maven branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/no-maven)

[2019-09-23 04:31] ameinabdi opened #54 "i can't start the server"
i can't run project i have generate i think their is missing port of server but i didn't get that

![Screenshot 2019-09-23 at 7 28 10 AM](https://user-images.githubusercontent.com/31644919/65401945-e7e6a080-ddd3-11e9-96a8-8fd5974ec0bf.png)

[2019-09-23 07:17] MathieuAA opened #55 "Consider migrating from TSLint to ESLint for the generated part"
Hi, first of, you guys are doing an amazing job!

**Is your feature request related to a problem? Please describe.**
TSlint is to be deprecated (or already is) in favor of ESLint. And this generator already seems to use ESLint.

**Describe the solution you'd like**
Using ESLint instead of TSLint, and that includes changes in (not exhaustive I think):
  - the generated package.json file
    - depen

[2019-09-23 07:46] amanganiello90 commented on #55
Hi @MathieuAA,
Thanks a lot! Yes, I know the deprecation and there was already my intention the ESLint migration, also because the blueprint already uses ESLint for the templates.
There is [a useful tool](https://github.com/typescript-eslint/tslint-to-eslint-config) for this.
I will insert it into backlog. Thanks

[2019-09-23 07:49] amanganiello90 commented on #54
Hi @ameinabdi,
Could you please give me every command that you have run?
Then, check in the **server/src/config/application-dev.yml** or **server/src/config/application-prod.yml**  the server port parameter value.
Please use, for the next opening ticket, the issue template in order to write the clear problem, otherwise for me it's invalid. Thanks!

[2019-09-23 09:50] ameinabdi commented on #54
first i have generated project using this command

jhipster --blueprint nodejs

then go to server folder
cd server/

then start project using this command

npm start

[2019-09-23 10:22] amanganiello90 commented on #54
Ok. But what kind of app you ever generated? (**ApplicationType**).
Then, check in the server/src/config/application-dev.yml the server port parameter value.

[2019-09-23 10:56] ameinabdi commented on #54
yes it works thanks a lot mr @amanganiello90  but i have two question can i use react for client side if it is yes. what i do to integrate it and the second one is did you make documentation about how to use this generator thank you

[2019-09-23 11:16] amanganiello90 commented on #54
Ok thanks.
Here my questions and answered:
* Could you tell me what was the issue? it is missed the server port value, or the value was of a busy port?
* You can choose react as client answer question, it should work but I have not tested yet.
* For documentation refers to _README.md_  and the _server/README.md_. There are all references and link to framework (NestJS) and usage.

[2019-09-23 11:34] ameinabdi commented on #54
yes it was missed the server port value. there is no any value in port
![Screenshot 2019-09-23 at 2 32 27 PM](https://user-images.githubusercontent.com/31644919/65422491-4aa95d80-de0f-11e9-9393-b9393ee32989.png)

[2019-09-23 11:38] amanganiello90 commented on #54
Ok. But what kind of app did you generate? (ApplicationType) ??

[2019-09-23 11:41] ameinabdi commented on #54
it was monolithic application

[2019-09-23 11:42] amanganiello90 commented on #54
Ok thanks, I will check.

[2019-09-23 12:13] amanganiello90 commented on #54
Thansk, I have fixed it [here](https://github.com/jhipster/generator-jhipster-nodejs/commit/775f5b58eadbea811b60157d59355c77aeb57248)

[2019-09-23 12:13] #54 closed

[2019-09-23 12:22] amanganiello90 commented on #49
Starting issue on [no-maven branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/no-maven)

[2019-09-23 18:05] venkataramkishore commented on #48
Hi I have followed the same steps as suggested above conversation still i have the same issue:
The following are the versions in picture

![image](https://user-images.githubusercontent.com/14111132/65449966-c203df00-de59-11e9-82b0-468ca58c9bc4.png)

[2019-09-23 18:24] amanganiello90 commented on #48
Hi @venkataramkishore,
In your screen there aren't any errors. It works, there is the first question on the application type.

[2019-09-24 01:03] venkataramkishore commented on #48
I am trying to start Nodejs blueprint not Java, so according to your documentation i am expecting NHIPSTER not JHIPSTER?
Please suggest if otherwise.

[2019-09-24 06:16] amanganiello90 commented on #48
After you have answered the application type and the app name, it will display NHipster logo and the related questions. If you read your prompt, there is the **INFO: options: blueprint: nodejs**. So jhipster has found nodejs blueprint. It works.

[2019-09-24 07:22] venkataramkishore commented on #48
Hi @amanganiello90 , Yes indeed it worked !!
Command also suggest using **blueprints** not _blueprint_
Should these details be updated in your documentation?
The following image is the output of command flow:

![image](https://user-images.githubusercontent.com/14111132/65489909-c536b380-dec9-11e9-8f29-9a9ee5a1c541.png)

[2019-09-24 07:25] amanganiello90 commented on #48
Hi @venkataramkishore,
Yes, I will update after changing with the new version of the jhipster cli. Thanks

[2019-09-24 07:48] ameinabdi opened #56 "it doesn't generate new entity"
when i finish entering of feild of new Entity it give me back this error
![Screenshot 2019-09-24 at 9 12 51 AM](https://user-images.githubusercontent.com/31644919/65491995-cca19100-deb8-11e9-9d80-c1fe12199211.png)

[2019-09-24 07:58] amanganiello90 commented on #56
It is missing a column after AuthModule.

[2019-09-24 08:47] #56 closed

[2019-09-25 06:55] venkataramkishore commented on #56
After generating an application using the nodejs blueprint, I have tried to create entities using import-jdl command. I can see error while trying to build using enum as follows:

![image](https://user-images.githubusercontent.com/14111132/65576400-7fdcb980-df8f-11e9-942a-31a1df94a801.png)

[2019-09-25 07:24] amanganiello90 commented on #56
@venkataramkishore,
Thanks for the feedback. Please use the related template issue to open a bug ticket. This is a issue closed of another topic.

[2019-09-25 09:28] amanganiello90 opened #57 "Enum generation error for import-jdl"
**Describe the bug**
related to #56 in the [comment](https://github.com/jhipster/generator-jhipster-nodejs/issues/56#issuecomment-534881917)

**To Reproduce**

**Expected behavior**
Correct generation without error

**Additional context**
The error is that missing in utils the [buildEnumInfo](https://github.com/jhipster/generator-jhipster-nodejs/blob/9787a64234303f95b18385cc4f7c3a61e8ef6ca1/genera

[2019-09-25 10:47] venkataramkishore opened #58 "Any plans to have pure TypeScript/JavaScript generation?"
Bering fan of working with JavaScript/TS environment, I would like to see the generation of code purely in JavaScript/TypeScript respectively.
I see still we use Maven build system to compile and package expressJs code.

[2019-09-25 11:06] amanganiello90 commented on #58
Maven is only a cli tool, there aren't java artifacts. However the #44 is in progress.

[2019-09-25 11:07] #58 closed

[2019-09-25 11:44] amanganiello90 commented on #57
Hi @venkataramkishore,
you can try with your jdl if the bug is resolved.
Follow the [CONTRIBUTING.MD](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/CONTRIBUTING.md) and checkout on **feature/no-maven** branch for the generator-blueprint-nodejs

[2019-09-25 11:48] amanganiello90 commented on #49
Finish with [commit](https://github.com/jhipster/generator-jhipster-nodejs/commit/2d9aa7ee2c3822a00d289a7d34d4fd06863a78f8).

[2019-09-25 11:48] #49 closed

[2019-09-25 19:05] amanganiello90 opened #59 "Language i18n for react home page translation NHipster"
If we choose the internationalization answer, the default html home page for NHipster is translated. So it is needed to override also the languages json files for NHipster in React client.

[2019-09-25 19:12] amanganiello90 opened #60 "Disable testFramework and internationalization prompt questions"
Related to [jhipster issue with PR](https://github.com/jhipster/generator-jhipster/issues/10482), this can optimize and **DELETE ALL JAVA REFERENCES** in the prompts. Now i18n is not provided, only English language, so it's the reason that we have to delete that question.

[2019-09-26 07:14] venkataramkishore commented on #57
Hi @amanganiello90,
Following are the steps i have followed:

generator-jhipster-nodejs>git branch --list
*master
generator-jhipster-nodejs>git checkout --track -b feature/no-maven
generator-jhipster-nodejs>git pull
Already up-to date
generator-jhipster-nodejs>git branch --list
*feature/no-maven
master
generator-jhipster-nodejs>cd generator-jhipster-nodejs
generator-jhipster-nodejs> npm install
ge

[2019-09-26 07:42] amanganiello90 commented on #57
Hi @venkataramkishore,
the last commands are wrong. Following these:

[code]

[2019-09-27 10:50] venkataramkishore commented on #57
when generating it takes sqllite only for development, no other choice yet. I have enums for my entities to generate. As you suggest enum doesnot work
I still have tried your steps with enums in jdl and i have the following error

![image](https://user-images.githubusercontent.com/14111132/65762745-519ddc00-e13f-11e9-8bd3-7bfde22388ce.png)

[2019-09-27 11:01] amanganiello90 commented on #57
Hi @venkataramkishore ,
before npm link you have to perform npm install on generator-jhipster-nodejs and generator-jhipster projects.
I will check and track the prodDatabase choose in another issue. Thanks.

[2019-09-27 11:15] amanganiello90 opened #61 "Prod database not added from jdl"
**Describe the bug**
related to #57 in the [comment](https://github.com/jhipster/generator-jhipster-nodejs/issues/57#issuecomment-535891037), the prodDatabase is not selected from jdl.

**To Reproduce**

**Expected behavior**
The orm.config.ts file must have the prod db and not sqlite.

[2019-09-27 11:15] #57 closed

[2019-09-30 17:58] ameinabdi opened #62 "No entity menu in react client"
i got this error when i login
![Screenshot 2019-09-30 at 20 51 07](https://user-images.githubusercontent.com/31644919/65903326-ea915900-e3c4-11e9-9887-73776caa6fd4.png)

[2019-09-30 18:18] amanganiello90 commented on #62
This is related to #46.  Thanks for the feedback.

[2019-10-01 12:32] #44 closed

[2019-10-04 15:40] amanganiello90 commented on #51
Testing for mysql and run using typeorm automatic migration files. Mongodb not works

[2019-10-04 15:41] amanganiello90 commented on #36
Done with this [commit](https://github.com/jhipster/generator-jhipster-nodejs/commit/9714d98162cc3996f8f77b2d55790fb34ce78073)

[2019-10-04 15:41] #36 closed

[2019-10-09 10:00] amanganiello90 commented on #60
The issue is in pending for [JHipster PR](https://github.com/jhipster/generator-jhipster/pull/10493)

[2019-10-09 10:09] #51 closed

[2019-10-09 14:47] amanganiello90 opened #64 "Support Keycloak docker image and configuration for oauth2"
It can be used for keycloack oauth2 integration

[2019-10-10 20:25] amanganiello90 commented on #62
I have tested react client, and with my [example-1.jh](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/examples-jdl/example-1.jh) works. Now I'm testing the CRUD operations for the new entities.

[2019-10-11 06:25] ameinabdi commented on #62
when i generate with your example-1.jh and run the server. it is not running it show me error of entity of user. i take all steps of readme but it doesn't. so could you please answer few question
1. what machine did you use for generating ?
2. what database did you use in development ?
3. is their any extra step you use when you generate project ?
4. can i connect my nodejs project and react-nativ

[2019-10-11 08:00] amanganiello90 commented on #62
Single-course.model it's the old name of the entity... now it's single-course.entity. You have to upgrade the generator.

[2019-10-11 09:42] #62 closed

[2019-10-11 09:44] amanganiello90 commented on #62
Please wait the next release in order to retry my jdl generation. After reopen a new issue with your questions.

[2019-10-11 10:25] #61 closed

[2019-10-11 10:28] amanganiello90 opened #65 "Release 1.0.0-alpha.3"
For this release, it is needed to update documentation, update new jhipster version, log in prompt, gif, and so on.
The features that will be released (indicated in the CHANGELOG.md) are:

- Remove Maven, Java and spring requirements (now only pure typescripts and npm packages)
- TypeORM feature to generate scripts and db automatic migrations (as liquibase style)
- Full generation with jdl for ang

[2019-10-11 10:41] ameinabdi commented on #62
ok thank you @amanganiello90  when did you release next one ?

[2019-10-11 10:42] amanganiello90 commented on #62
Maybe in this weekend, I have to review doc and examples #65

[2019-10-11 20:42] #65 closed

[2019-10-13 14:07] ameinabdi commented on #62
did you release ? @amanganiello90

[2019-10-13 15:10] amanganiello90 commented on #62
Yes

[2019-10-14 05:35] ameinabdi commented on #62
good but still error exist

[2019-10-14 08:01] amanganiello90 commented on #62
Hi @ameinabdi,
use my [example-1.jh](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/examples-jdl/example-1.jh).

So run
[code]
Go for example in chrome using **localhost:8081**.
After login, there will be two entities in the related menu:

![immagine](https://user-images.githubusercontent.com/20536757/66736509-a5abfe80-ee69-11e9-883e-899dca5c0e68.png)

[2019-10-14 11:08] ameinabdi commented on #62
i get same error when i flow your guide. is their is any other ways please

[2019-10-14 11:12] amanganiello90 commented on #62
Do you have in **src\main\webapp\app\entities** the entities?
![immagine](https://user-images.githubusercontent.com/20536757/66747215-490a0d00-ee84-11e9-98e3-bcfceaf46bd7.png)

[2019-10-14 11:14] ameinabdi commented on #62
yes
![Screenshot 2019-10-14 at 14 13 49](https://user-images.githubusercontent.com/31644919/66747309-e1a48b00-ee8c-11e9-925a-f05db047031d.png)

[2019-10-14 11:15] ameinabdi commented on #62
could you please access my computer and generate new one ?

[2019-10-14 11:17] amanganiello90 commented on #62
Commit your project in a github repo and I will commit my generation in other branch. So we can compare the generations.

[2019-10-14 11:30] ameinabdi commented on #62
https://github.com/ameinabdi/biiloffice

[2019-10-14 11:34] amanganiello90 commented on #62
I still see the maven wrapper. You have not updated the nodejs blueprint.
Please run ```npm i -g generator-jhipster-nodejs```.
After delete all your projects and run the steps of https://github.com/jhipster/generator-jhipster-nodejs/issues/62#issuecomment-541540486.

[2019-10-23 10:36] amanganiello90 commented on #52
I have tested and developed it, for the next days I will add new templates.

[2019-10-23 10:40] amanganiello90 opened #67 "Configure swagger ui for oauth2"
After adding the [oauth2-redirect.html](https://github.com/swagger-api/swagger-ui/blob/master/dist/oauth2-redirect.html) template, in the swagger login page there is an error for pkce in okta with correct clientId, clientSecret and scopes.

[2019-10-24 13:46] amanganiello90 commented on #52
Hi @deepu105,
you can view the app generated with oauth2 [here](https://github.com/jhipster/jhipster-sample-app-nodejs/tree/feature/oauth2).

[2019-10-24 13:54] deepu105 commented on #52
Cool man. @mraible this should be interesting to you

[2019-10-24 14:08] amanganiello90 commented on #52
Thanks a lot, for the next days after my other tests, I will release this :) ..@mraible I have fulfilled your as promised ;)

[2019-10-25 12:06] amanganiello90 commented on #52
Could somebody please create a repo named **jhipster-sample-app-nodejs-oauth2** in order to push the app generated?

[2019-10-25 14:52] ameinabdi opened #68 "Support blob types for the entity"
i added my jdl ImageBlog but it tells me that image Is not Support mysql database

could you please fix that error or is their any other way to use image field ?

[2019-10-25 16:17] deepu105 commented on #52
Done

[2019-10-25 18:54] amanganiello90 commented on #68
Hi @ameinabdi, TypeORM supports blob for some database types. For mysql there is the **image** type, as you can read [here](https://github.com/typeorm/typeorm/blob/master/docs/entities.md#column-types-for-mssql)... so replace your colulm entity with that ;)

[2019-10-25 19:25] amanganiello90 commented on #52
Thanks @deepu105 .. could you please give me write permission?

[2019-10-25 19:56] amanganiello90 commented on #52
$200 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/11098

[2019-10-26 06:36] robconnell9 opened #70 "After choosing Postgres as the production DB the production type in orm.config.ts is set as postgresql and gives an error"
**Describe the bug**
When there is a prompt for the production database and postgresql is chosen this populates orm.config.ts with the prod database type of postgresql at line 28. This value should be postgres as per the value in PostgresConnectioOptions.d.ts

**To Reproduce**
Steps to reproduce the behavior:
jhipster --blueprint nodejs
choose monolithic
choose postgresql for production database

[2019-10-26 07:38] jdubois commented on #52
@mraible do you have time to check that this works well?

[2019-10-26 10:22] ameinabdi commented on #68
hi @amanganiello90
okey i have another question
-> is there  any way to make relations of entities

[2019-10-26 13:19] amanganiello90 commented on #70
Thanks! I have fixed that... could you try with the bugfix branch [here](https://github.com/jhipster/generator-jhipster-nodejs/tree/bug/postegres)?

[2019-10-26 13:37] amanganiello90 commented on #68
Hi @ameinabdi ... so All it's possible for the software engineering, but the time it's only 24 hours per day, and I'm developing almost everything in this project. That you explain is a new feature, but now I haven't time to implement it, I have just finished the oauth2 feature also for the react client..
So if somebody wants to contribute, with a donation or a code development, is welcome!

[2019-10-26 23:25] robconnell9 commented on #70
I tried to install the specific branch using:

npm install -g
https://github.com/jhipster/generator-jhipster-nodejs/tree/bug/postegres

which was complaining about a missing package.json. Any ideas ?

On Sat, Oct 26, 2019 at 11:49 PM Angelo Manganiello <
notifications@github.com> wrote:

[2019-10-27 07:06] ameinabdi commented on #68
sorry for using your time @amanganiello90
i would like to contribute as code development if you guide me
thank you

[2019-10-27 09:38] amanganiello90 commented on #70
Hi @robconnell9 ,
you have to follow this steps:

- git clone https://github.com/jhipster/generator-jhipster-nodejs.git
- cd generator-jhipster-nodejs
- git checkout bug/postegres
- npm install
- npm link
- cd ..
- git clone https://github.com/jhipster/generator-jhipster.git
- cd generator-jhipster
- npm install
- npm link
- cd ..
- mkdir test-generation
- cd test-generation
- npm link generator-j

[2019-10-27 10:05] amanganiello90 commented on #68
Hi @ameinabdi , it's not a problem! I will show you what you have to change, and after that push the your branch openind a pull request for me.

For this feature, you have to modify the [entity.ts template](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/generators/entity-server/templates/server/src/domain/entity.ts.ejs#L101) adding maybe an if for your type.. but please attentio

[2019-10-27 10:07] robconnell9 commented on #70
I followed the steps and this fixes the problem that I raised

[2019-10-27 10:13] amanganiello90 commented on #70
Good! thanks for the collaboration! You are welcome to contribute with a donation or with the development of new features, and introduce new people in this project/community :)

[2019-10-27 10:13] #70 closed

[2019-10-27 13:12] deepu105 commented on #52
I have added you to that repo @amanganiello90

[2019-10-27 14:44] amanganiello90 commented on #52
Thanks @deepu105... @mraible you can check now on [this repo](https://github.com/jhipster/jhipster-sample-app-nodejs-oauth2). The options used are Oauth2 and React client (preferred by @ameinabdi)

[2019-10-28 16:50] mraible commented on #52
I took a quick look. I like it! Especially since it uses Okta by default. :)

However, we should probably do Keycloak by default like the default JHipster does.

[2019-10-28 16:56] amanganiello90 commented on #52
Thanks @mraible ! .For kaycloack there is [another ticket](https://github.com/jhipster/generator-jhipster-nodejs/issues/64) in the kanban board. but before this, I have to enable docker images for the full nodejs app.

[2019-10-29 09:41] amanganiello90 commented on #64
@hadirsa , would you like to implement this feature?
You have to add the template, under the server generator, of [keycloak.yml](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/docker/keycloak.yml.ejs) replacing the variables, and after update for oauth2 choose the [README.md](https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/oauth2/

[2019-10-31 12:40] amanganiello90 opened #73 "Support mongodb generation with docker image (without relationship)"
As explained in the title, we have to provide mongodb entity generation only for prod running, without go in conflict with sqlite dev database.

[2019-10-31 12:42] amanganiello90 opened #74 "Support enum fields entity generation without giving conflicts in sqlite dev database"
As the title, in case of enum fields entity generation, it must be valid only for prod database running.

[2019-11-04 10:46] amanganiello90 commented on #52
Any news? So that I step to release

[2019-11-13 16:31] amanganiello90 commented on #64
Started on [feature/keycloack](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/keycloack)

[2019-12-05 07:58] amanganiello90 commented on #52
@mraible, @deepu105, @jdubois , any news?

[2019-12-05 09:04] deepu105 commented on #52
I think @mraible is the best person to review

[2019-12-05 09:05] deepu105 commented on #52
I think you should proceed to merge and release

[2019-12-05 17:01] mraible commented on #52
I don't have time to test this right now. I trust your judgment. If you say it works, I believe you.

[2019-12-06 11:21] amanganiello90 commented on #52
Thanks @mraible !

[2019-12-06 11:48] amanganiello90 commented on #60
It has been fixed by Jhipster PR [#10752](https://github.com/jhipster/generator-jhipster/pull/10752). So I have to integrate it for the next jhipster release 6.5.2 (or 6.6).

[2019-12-06 14:38] deepu105 commented on #52
Don't forget to claim the bounty. You deserve it :)

Thanks & Regards,
Deepu

On Fri, Dec 6, 2019 at 12:21 PM Angelo Manganiello <notifications@github.com>
wrote:

[2019-12-06 14:44] amanganiello90 commented on #52
Thanks @deepu105, the bounty claim it's already in pending [in this comment](https://github.com/jhipster/generator-jhipster-nodejs/issues/52#issuecomment-546491044)

[2019-12-11 09:35] amanganiello90 opened #77 "Add and execute integration tests in the travis build"
In addition to the static tests, we need to add and execute ntegration test (of code generated and up running) in the travis build

[2019-12-11 10:11] #52 closed

[2019-12-24 15:51] #77 closed

[2019-12-24 15:57] amanganiello90 commented on #60
The updated to 6.6.0 jhipster version is done with the #77 . So on the [feature/customize-app](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/customize-app) there will be started the development.

[2019-12-27 19:54] #60 closed

[2019-12-30 10:53] amanganiello90 commented on #68
The image type is used only for [mssql](https://github.com/typeorm/typeorm/blob/master/docs/entities.md#column-types-for-mssql) and not for *mysql*.
So I will start feature on [feature/blob-entity  branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/blob-entity) to include generic *blob type*

[2019-12-30 21:27] amanganiello90 opened #81 "Testing entity relationship combinations with support for almost database field types"
We need to add new jest tests for entity, add new field types optimizing templates

[2019-12-30 21:29] amanganiello90 commented on #81
The issue is already completed on the [feature/blob-entity branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/blob-entity).

[2019-12-30 21:35] #68 closed

[2019-12-30 21:35] #81 closed

[2019-12-31 08:33] amanganiello90 opened #83 "Exclude server TS files from client lint and test increasing quality on the generated"
The lint and test phase must work for server and client part

[2019-12-31 08:35] amanganiello90 commented on #55
I will start this feature uniforming, as the client part, the lint task for the server (lint:fix instead of lint-fix)

[2020-01-02 12:34] amanganiello90 opened #85 "Support code quality and coverage reports on SonarCloud for the generator"
It can be useful to have reports about quality and coverage issue of the generator.
For travis is simple to integrate [code climate](https://medium.com/makers-team-coad/how-to-ace-test-coverage-code-quality-code-style-using-travis-ci-and-code-climate-afde0eb2f007).
@deepu105, @pascalgrimaud and @jdubois any suggestions?

[2020-01-02 12:44] jdubois commented on #85
- we have a free account on SonarQube and use it for the Java builds, could you have a look? In https://www.jhipster.tech/code-quality/
- please note we are moving away from Travis to GitHub Actions

[2020-01-02 12:53] amanganiello90 commented on #85
So I can configure and publish reports on the same SonarQube account? in the link of the jhipster page it explains how to use a SonarQube from the docker image.
GitHub Actions supports anythings, such as [github code climate](https://github.com/marketplace/code-climate), but it is not free. Generally every blueprint use travis-ci, so I have extended the standard plan with another stages for unit t

[2020-01-02 12:57] jdubois commented on #85
On the JHipster SonarQube organization I need to create one project for you (or several!), and then there's a secret token to configure. So a little work from me, but nothing big.

[2020-01-02 13:00] amanganiello90 commented on #85
As you prefer @jdubois, no problems for me :) ... Otherwise I use another open source tool for code analysis.

[2020-01-02 13:25] pascalgrimaud commented on #85
@amanganiello90 : for your information, we removed Travis in main generator-jhipster, so I think all projects in the organization should migrate to GitHub Actions as it's far better than Travis

Then, for Code Analyze, I'd prefer to keep consistency, so let's use SonarCloud at https://sonarcloud.io/organizations/jhipster/projects and then:
- create a new project at SonarCloud
- add SONAR_TOKEN dir

[2020-01-02 13:36] amanganiello90 commented on #85
ok @pascalgrimaud. But now I haven't grants to create project on SonarCloud. So after migrating pipeline on github actions you can give me the sonar token to add on it? (or you add directly that). Thanks.

[2020-01-02 13:37] amanganiello90 opened #86 "Migrating pipeline from travis to GitHub Actions"
As discussed, is needed for #85

[2020-01-02 13:39] pascalgrimaud commented on #85
@amanganiello90 : to understand well, is it for analyzing the blueprint `generator-jhipster-nodejs` or a generated project with this blueprint like https://github.com/jhipster/jhipster-sample-app-nodejs ?

[2020-01-02 13:42] amanganiello90 commented on #85
For now it for the generator. Next we will configure also SonarCloud for the sample apps and for the generated projects (we have before to resolve #83 and #55).

[2020-01-02 13:50] amanganiello90 opened #87 "Add Sonar configuration to analyze and publish generated project for backend"
After resolving #55 and #83, The generation should support SonarQube analysis as the [JHipster quality standard](https://www.jhipster.tech/code-quality/)

[2020-01-02 15:50] pascalgrimaud commented on #85
Just created: https://sonarcloud.io/dashboard?id=jhipster_generator-jhipster-nodejs
I added a SONAR_TOKEN in GitHub Actions secrets too.

If it doesn't work, just tell me, and I can regenerate one and update the SONAR_TOKEN in GitHub.

[2020-01-02 15:52] amanganiello90 commented on #85
Thanks a lot! I have justed finished the pipelines migration from Travis to GitHub Actions

[2020-01-02 15:55] #86 closed

[2020-01-02 16:29] amanganiello90 commented on #85
@pascalgrimaud  have you added the GITHUB_TOKEN secret? The build said that I don't have grants to run sonar analysis...

https://github.com/jhipster/generator-jhipster-nodejs/commit/139b72611675ab3d9efc2183853742c50173fbbf/checks?check_suite_id=381769719

[2020-01-02 16:33] pascalgrimaud commented on #85
You need to have these lines in your yaml file:
https://github.com/jhipster/generator-jhipster/blob/master/.github/workflows/angular.yml#L162-L164

Is it the case ?
Otherwise, the steps won't have any secret var

[2020-01-02 16:36] amanganiello90 commented on #85
Yes, the variables are necessary because github actions told me that before missing.

I have this sonar properties: https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/sonar-generator-publish/sonar-project.properties

And yml configuration:
https://github.com/jhipster/generator-jhipster-nodejs/blob/139b72611675ab3d9efc2183853742c50173fbbf/.github/workflows/generator.yml#L23

But I h

[2020-01-02 16:41] pascalgrimaud commented on #85
It's normal as the sonar.login (which is the SONAR_TOKEN) is not correct:
https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/sonar-generator-publish/sonar-project.properties#L6

You need to remove this line, I think

[2020-01-02 17:08] amanganiello90 commented on #85
I copied the properties from SonarCloud project wizard, and I immagine that maybe it was not right with SONAR_TOKEN. So now I remove it

[2020-01-03 08:23] pascalgrimaud commented on #85
Following your work in the `feature/sonar-generator-publish branch`, it looks ok:
http://localhost:9001/dashboard?id=jhipster_generator-jhipster-nodejs

I suggest to only add the analyze for master branch
So you need to add a condition for that

[2020-01-03 08:51] amanganiello90 commented on #85
Yestarday I test all and it's ok, I have added also the github badges on the README.md
If I merge on master, then is it analized?

[2020-01-03 08:55] pascalgrimaud commented on #85
Yes, you can merge it.
But if you create a new branch, the result from this new branch will erase the current result from master -> that's why I think the analyze should be done only for master branch

[2020-01-03 08:57] amanganiello90 commented on #85
I saw that on Sonar you can switch analysis on the related branch:
![immagine](https://user-images.githubusercontent.com/20536757/71714767-66a99b80-2e0f-11ea-8bf3-b81692291cf6.png)

[2020-01-03 10:05] amanganiello90 commented on #85
@pascalgrimaud thanks for the helping. Now it's all perfect :)

[2020-01-03 10:05] #85 closed

[2020-01-03 11:04] pascalgrimaud commented on #85
I though the branch analysis were only for the paid one version
So in this case, it's perfect !

Now for contributors, which won't have SONAR_TOKEN in their GitHub fork repo, I think you should exclude the analysis if it's in a fork.
Otherwise, our contributors will have failed builds:
https://github.com/pascalgrimaud/generator-jhipster-nodejs/commit/efc7e86e05df0d72c131f39141ab804ced6366ee/checks

[2020-01-03 11:41] amanganiello90 commented on #85
ok @pascalgrimaud , I have just added the exclusion and it works: https://github.com/jhipster/generator-jhipster-nodejs/commit/5aabd28ef8178a261dfab447b419b21eaf4ac350

[2020-01-03 12:41] amanganiello90 opened #90 "Enable packaging of a standalone full app in electron and cordova android apk"
Hi all @jhipster/developers,
As indicated in the issue title, I have an idea to support a packaging of the jhipster nodejs full app, in a standalone way, for electron and cordova (mainly android).

There are already modules that support mobile and the desktop:

- The [jhipster ionic generator](https://github.com/oktadeveloper/generator-jhipster-ionic) supported by @mraible. It allows you to develo

[2020-01-09 15:49] amanganiello90 opened #91 "Add e2e tests for generated server project"
It is useful to have end-to-end test classes for every controller. Now there is a npm script test:e2e for an app test that fails. According nestjs standard, rename e2e test with *.e2e-spec * suffix and jest file with *.e2e.config*.

[2020-01-11 10:01] amanganiello90 opened #92 "Check controller generator with lint and tests"
After eslint adding, we will to check controller subgenerator use

[2020-01-11 12:17] #83 closed

[2020-01-11 12:17] #55 closed

[2020-01-11 13:15] amanganiello90 opened #94 "Provide service generator"
Now the service generator is not implemented. So we need to provide it changing the controller with repository directly injection

[2020-01-11 13:17] amanganiello90 commented on #91
We need to fix the app main e2e test and provide a e2e test for every controller generated by entity and/or controller generator

[2020-01-11 17:58] amanganiello90 commented on #94
Started on [feature/service-generator branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/service-generator)

[2020-01-11 22:34] amanganiello90 commented on #91
With https://github.com/jhipster/generator-jhipster-nodejs/commit/d9579e7152d609d783733d7185de5bc843c2131b I have added test profile for typeORM (sqlite in memory), renamed app e2e test and fix it. it misses to do a mocking way for security and service.

[2020-01-12 17:53] #94 closed

[2020-01-12 17:53] #92 closed

[2020-01-17 13:26] ajoysinhaabbvie opened #96 "Error: ENOENT: no such file or directory, open 'XXXXX\server\src\config/application-d.yml'"
**Describe the bug**
After creation of nodebased microservice using **jhipster import-jdl model-name.jdl --blueprints nodejs**, on start of server "npm start" application is looking for a file name application-**d**.yml. where as application-**dev**.yml

**To Reproduce**
Steps to reproduce the behavior:
1. Create a nodejs app using jhipster import-jdl model-name.jdl --blueprints nodejs
2. go into

[2020-01-17 13:54] amanganiello90 commented on #96
Hi @ajoysinhaabbvie,
thanks to use NHipster.. every feedback is very important.
So, can you explain what version of blueprint are you using?
The last release passed every integration test that covers your use case: https://github.com/jhipster/generator-jhipster-nodejs/runs/384846320

[2020-01-22 06:17] ajoysinhaabbvie commented on #96
I am using : generator-jhipster-nodejs@1.0.0-beta.2
I have created nodejs microservice app from jdl file. and then run the application server.
attaching the screenshots for your reference .. hope this will help ..

If i do rename application-dev.yml to application-d.yml then system is working .

![screenshot1](https://user-images.githubusercontent.com/50991311/72869999-e939c280-3d0c-11ea-83d2-aa25

[2020-01-22 06:36] ajoysinhaabbvie commented on #96
Attaching jdl file for your reference
Change name from .txt to .jdl

[app.jdl.txt](https://github.com/jhipster/generator-jhipster-nodejs/files/4095576/app.jdl.txt)

[2020-01-22 08:08] amanganiello90 commented on #96
Maybe I have understand your problem.. Can you check what is the value of the node system variable **NODE_ENV**? It is used in the app starting: https://github.com/jhipster/generator-jhipster-nodejs/blob/927622480140e64c12437c0f979ab8f64c1f8f69/generators/server/templates/server/src/config/config.ts.ejs#L91

So to change it you can rewrite value in your (env project file)[https://github.com/jhipst

[2020-01-29 14:18] kosnkow opened #97 "when adding entity , jhipster adds many java files"
If I run jhipster --blueprints nodejs entity Items it will generate many java files.

[2020-01-29 14:22] #97 closed

[2020-01-30 09:01] amanganiello90 commented on #96
Hi @ajoysinhaabbvie, any news???

[2020-01-30 11:25] kosnkow opened #98 "dest is not a directory"
when I run npm run build:app or npm run build as mentioned in readme (windows)
i get cp: dest is not a directory (to many sources)

it was not able to find config so when I moved this line ouf of the if (!fs.existsSync(out)) { it works

fs.mkdirSync(out + '/config');

[2020-01-30 12:29] amanganiello90 commented on #98
Thanks for your feedback!
But I don't understand your issues.
The [line](https://github.com/jhipster/generator-jhipster-nodejs/blob/master/generators/server/templates/server/scripts/copy-resources.ts.ejs#L5) is necessary because the dist folder must be created if it does not exist.
Maybe in your machine the ```fs.mkdirSync(out);``` fails without rises an error, so the cp command does not find the

[2020-01-30 13:23] #98 closed

[2020-01-31 06:32] kosnkow commented on #96
we had the same problem so we changed:
-const yamlConfig = yaml.safeLoad(fs.readFileSync(__dirname + '/application.yml', 'utf8'));
-const envYamlConfig = yaml.safeLoad(fs.readFileSync(__dirname + `/application-${process.env.NODE_ENV}.yml`, 'utf8'));
+const yamlConfig = yaml.safeLoad(fs.readFileSync(__dirname + '/../../config/application.yml', 'utf8'));
+const envYamlConfig = yaml.safeLoad(fs.readF

[2020-01-31 08:17] ItsInsajd opened #99 "Problems with running prod build"
**Describe the bug**
I wanted to check how reliable is to use nodejs blueprint to kickstart a project with azure deployment. Commands used for prod build do not work as excepted, but I may be doing something wrong, so I decided to ask here.

**To Reproduce**
Run blueprint as monolith, server only. Database probably doesn't matter, but i selected postgres. Then run `npm install` in main dir and in

[2020-01-31 09:33] amanganiello90 commented on #99
Hi @ItsInsajd ,
thanks for the feedback, it is a great job that you have performed.
This is a beta version yet, I have tested a lot of use cases, so it is very useful to receive feedbacks.
So, let's on the analysis:

1.  The if code:
[code]
I understand now that it fails in case that the dist folder exist, but it does not contains config folder... So we have to check if exist **dist/config** path

[2020-01-31 10:24] ItsInsajd commented on #99
Hey, thanks for response. In my case, `node dist/main.js` or `npm run build:prod` won't work, because there is no main.js file in dist folder. When running `npm run build`, my dist folder is as follows:
[code]
So running `node dist/main.js` will fail.
I also tried reverting copy-resource.ts to default state (before my change described in first post). Running `npm run build` then shows the same err

[2020-01-31 11:11] amanganiello90 commented on #99
Hi,
try these steps:

- Create dist/config empty folder under server folder
- Run ```set NODE_ENV=prod&& npm run build && npm run start:prod```

After this you can run ```npm run start:prod``` because you have the javascript build.
You can refers to the [README. generated](https://github.com/jhipster/jhipster-sample-app-nodejs/tree/master/server). The start:prod task is not allowed without npm bui

[2020-01-31 11:13] amanganiello90 commented on #96
It is linked to #99 that has more details.

[2020-01-31 13:02] ItsInsajd commented on #99
Hey, to clarify, I ran `npm run build` before `npm run start:prod`. Creating `/scripts` folder inside `dist/` also doesn't seem to make any difference. The main problem is that `main.js` file is not in `dist` folder, it's inside `dist/src/`, where other built source files are. I don't know why this is the case. I ran `set NODE_ENV=prod && npm run build && npm run start:prod` on my friend's PC with

[2020-01-31 13:17] amanganiello90 commented on #99
@ItsInsajd  you are welcome! feel free to say what you want :)
So, let me explain what should be the normale behaviour:
- You should have a dist/config folder, not a dist/scripts. Scripts folder is not copied.
- It's strange that the main.js is under dist/src.. I will investigate on it.
I will work for a fix, and if you want you will test it and give me the ok ;)
Thanks a lot

[2020-01-31 14:16] kosnkow opened #100 "copying node modules - support webpack bundle"
hi, this is not a bug but rather the question,
is it really necessery to move all node modules to hosting server when deploying the app ?
we moved only dist folder to the hosting server without node modules and the app started requring module after module, so we moved all node modules and the app started working .

[2020-01-31 15:13] amanganiello90 commented on #100
Hi @kosnkow , you are welcome! feel free to open issues for every feature/bug/question.
So, for now it's necessary to have the node_modules.
A few days ago I thought a packaging with webpack compressing node_modules modules in the main.js, but now it's not possible because there are some native modules (.bat, .sh and .node) under node_modules folder that raise error in webpack.

[2020-02-03 08:14] amanganiello90 commented on #99
I'm checking on [resolve-env branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/bug/resolve-env)

[2020-02-03 11:40] amanganiello90 commented on #100
Hi @kosnkow , I'm working for the feature with webpack, that produces a prod bundle without node_modules requirement. I have to test better that, but it seems to work, without sqlite native dev dependency.

You can download [resolve-env branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/bug/resolve-env) and follows these steps to use it: https://github.com/jhipster/generator-jhipst

[2020-02-03 20:40] amanganiello90 opened #101 "Protractor or another tool for client e2e tests"
Add default choose for client e2e tests

[2020-02-04 14:13] amanganiello90 commented on #99
Fix with #102 , I will release the 1.0.0-beta.3

[2020-02-04 14:13] amanganiello90 commented on #96
Fix with #102 , I will release the 1.0.0-beta.3

[2020-02-04 14:14] amanganiello90 commented on #91
Added with #102

[2020-02-04 14:14] #91 closed

[2020-02-04 18:19] amanganiello90 commented on #99
Hi @ItsInsajd,
you can test the new version just published [1.0.0-beta.3](https://www.npmjs.com/package/generator-jhipster-nodejs/v/1.0.0-beta.3). Feel free to open new issues if there are another problems. Thanks!

[2020-02-04 18:19] #99 closed

[2020-02-04 18:20] amanganiello90 commented on #96
Hi @ajoysinhaabbvie and @kosnkow ,
you can test the new version just published 1.0.0-beta.3. Feel free to open new issues if there are another problems. Thanks!

[2020-02-04 18:20] #96 closed

[2020-02-04 18:27] amanganiello90 commented on #100
Hi @kosnkow ,
you can test the new version just published [1.0.0-beta.3](https://www.npmjs.com/package/generator-jhipster-nodejs/v/1.0.0-beta.3).

In that there is a new npm script in server package.json: **webpack:prod**. Run it, in the end you can copy all the **dist** folder in another directory without node_modules. Execute in your new dir:

- node dist/bundle.js

It will run the app for the p

[2020-02-05 13:59] kosnkow commented on #100
I confirm it works, bundle.js is 10M now, but no node_modules :)

[2020-02-05 16:40] ItsInsajd commented on #99
Hey, sorry for late update, but it seems that indeed problems listed in this issue have been resolved. I can now run `set NODE_ENV=prod&& npm run build && npm run start:prod` and the application builds and runs as expected. Thanks for your work!

[2020-02-05 18:29] amanganiello90 commented on #100
Hi @kosnkow,
Thanks for the feedback! but I don't understand the statement:

[2020-02-05 18:31] amanganiello90 commented on #99
Hi @ItsInsajd , no problem for the delay.. you are welcome!
I'ts my pleasure to grow up the community around this project. Thanks you a lot!

[2020-02-10 14:53] ajoysinhactc opened #103 "Node JS microservice is not registered properly in Jhipster Registry"
**Describe the bug**
NodeJS microservices is not registered properly in Jhipster Registry

**To Reproduce**

- Create a Nodejs Micro service using Jhipster blueprint = node js
- Run Jhipster registery
- Run the node js application
- Instance ID is displaying as usermicroservice:undefined

**Screenshot attached**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected b

[2020-02-10 15:19] amanganiello90 commented on #103
Hi @ajoysinhactc ,
thanks for your feedback!
The feature that you want, maybe is not implemented yet.
But, we can do it in the next release.
Could you please to add your yo-rc.json to get more information?
Thanks

[2020-02-10 15:26] ajoysinhactc commented on #103
yo-rc.json addaed as requested

[yo-rc.json.txt](https://github.com/jhipster/generator-jhipster-nodejs/files/4181607/yo-rc.json.txt)

[2020-02-10 15:31] amanganiello90 commented on #103
Thanks. Please attention that you are using an old version of the nodejs blueprint (1.0.0-beta.2).

[2020-03-03 08:09] ajoysinhactc opened #104 "ci-cd for nodejs application"
If I run following command to generate jenkinsfile .

jhipster  ci-cd --blueprints nodejs

Jenkinsfile is generated but it is not for nodejs application, rather than it is for java application.
It seems to me that ci-cd for nodejs application has not been implemented yet.

Following are the comment out of execution of generator command.

[2020-03-03 08:13] amanganiello90 commented on #104
Hi @ajoysinhactc, thanks for the issue!
Yes, the blueprint does not implement ci-cd submodule, so the command that you have run use the standard jhipster generation. If you want to contribute with the development or a donation you are welcome!

[2020-03-03 19:22] walshe-boylesoftware opened #105 "mapping enum error entity relationships"
**Describe the bug**
Tried to port my Jhipster jdl to NHipster but ran into some entity mapping issues

**To Reproduce**
Steps to reproduce the behavior:

import attached jdl file: jhipster import-jdl ./jhipster-jdl.jh --blueprints nodejs

**Expected behavior**
app starts up and I can log in

**Screenshots**
If applicable, add screenshots to help explain your problem.

    return new TSError(diagn

[2020-03-03 20:18] amanganiello90 commented on #105
Hi @walshe-boylesoftware , thanks for the issue!
Could you please tell me how to start the project? In development mode or production?
I ask you that because **ScrapingSessionType** is enum, and in development the enum classes are not support cause of **sqlite database**. Read the last note in [README.md](https://github.com/jhipster/generator-jhipster-nodejs#-what-we-have-now), and the linked [typ

[2020-03-03 20:48] walshe-boylesoftware commented on #105
this is how I ran it.. just default.. not sure how envs work

npm install
cd server && npm install
npm start

Im confused re enums.. in the examples ()enum.jdl I see this:

enum MyEnum {
    AAA, BBB, CCC
}

entity MyEntity {
  name String,
  sourceType MyEnum required
}

[2020-03-03 20:57] amanganiello90 commented on #105
Yes, the default npm start command runs in development mode, so the enum is not supported, for this you have to run with a prod database configuration. More information about it is in your server/README.md project.

[2020-03-03 22:03] walshe-boylesoftware commented on #105
I don't see it mentioned in
https://github.com/jhipster/generator-jhipster-nodejs#-what-we-have-now ?

On Tue, Mar 3, 2020 at 3:57 PM Angelo Manganiello <notifications@github.com>
wrote:

--
Emmett Walsh
emmett@boylesoftware.com
*Clever Coding*
http://www.boylesoftware.com
https://www.facebook.com/BoyleSoftware

[2020-03-04 00:39] walshe-boylesoftware commented on #105
removed the enums, but now getting this error:

➜  server git:(master) ✗ npm start

[nodemon] 1.19.1
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: /Users/emmett/dev/xxx_node2/server/src/**/*
[nodemon] starting `ts-node src/main.ts`
[Nest] 37031   - 03/03/2020, 7:35 PM   [Config] Actual process.env.NODE_ENV value: dev
[Nest] 37031   - 03/03/2020, 7:35 PM   [Config] Standard allow

[2020-03-04 08:43] amanganiello90 commented on #105
Change jdl part:
[code]
 in
[code]

And replace *Instant* type with *ZonedDateTime* . The reason is that sqlite does not support instant (timestamp), only ZonedDataTime (datatime) -> [sqlite types](https://github.com/typeorm/typeorm/blob/master/docs/entities.md#column-types-for-sqlite--cordova--react-native--expo)

[2020-03-04 08:53] amanganiello90 opened #106 "ManyToOne relationship error generation"
Investigate using this jdl:

<details>
<summary>JDL definition</summary>

<pre>
entity ScrapingSession {
  type String required,
  createdAt String required,
  updatedAt String,
  expectedItemListPageScrapeCount Integer required,
  actualItemListPageScrapeCount Integer,
  expectedItemScrapeCount Integer required,
  actualItemScrapeCount Integer
}
entity Food {
  itemNumber String required,
  creat

[2020-03-04 09:33] amanganiello90 commented on #105
After giving me a feedback that is all ok, I consider this issue resolved ;)

[2020-03-04 09:35] amanganiello90 commented on #100
I will close this issue, that I consider resolved. Thanks for the feedbacks

[2020-03-04 09:35] #100 closed

[2020-03-04 19:03] walshe-boylesoftware commented on #105
ok that works.. thank you :)

couple questions if I may..

- if it has to be one to many, how many children will one parent hold by default.. are the children lazy ?

- if i run the jsl import a second time, the project seems to turn into a regular jhispter Java project

- any plans to publish a swagger ui in the menu ?

- any plans to integrate a message broker or queue ?

great work!
thanks

[2020-03-04 19:58] amanganiello90 commented on #105
Thank you, It is my pleasure responding your questions 😊 ..
- According [typeorm] (https://github.com/typeorm/typeorm/blob/master/docs/eager-and-lazy-relations.md), the relationships are lazy by default.
- Maybe it occours because I have not added the blueprint as devDependency in the root package.json generated project yet. I run more times the generation, but I relink locally the nodes blueprint

[2020-03-04 20:06] walshe-boylesoftware commented on #105
yes I found the swagger ui at http://localhost:8080/api/v2/api-docs/, but did not see a link to it in the UI

I can imagine its a lot of work yes, maybe someday i could join in but for now its hard

[2020-03-04 20:08] amanganiello90 commented on #105
Yes the Jhipster front-end generation enables swagger with a UK button only for Java. It is needed to investigate and fix for nodes backend

[2020-03-05 09:02] amanganiello90 commented on #105
Thanks for the interest and the contribution, I consider this issue resolved, the bug will be fix in the linked ticket.

[2020-03-05 09:02] #105 closed

[2020-03-06 18:00] walshe-boylesoftware commented on #105
btw is ManyToOne just not supported yet, or is there just some bug ?

[2020-03-06 18:56] amanganiello90 commented on #105
There is a bug for that type of relationship declaration in the generation.

[2020-03-06 19:06] walshe-boylesoftware commented on #105
does it just happen on the .jh import ? or can I get around it creating entities the regular way on the command line ?

[2020-03-06 20:40] amanganiello90 commented on #105
It is an error on the entity template. So also with cli the generation not works.

[2020-03-10 09:39] Zahma opened #107 "import-jdl doesn't generate associate code"
**Describe the bug**
when running jhipster import-jdl 'my_file.jdl' --blueprints nodejs, nHipster doesn't generate the required entities. It says that master.xml from liquibase files doesn't exist.

**To Reproduce**
jhipster import-jdl my_file.jdl --blueprints nodejs

**Expected behavior**
Generate backend code

[2020-03-10 09:45] amanganiello90 commented on #107
Thanks for the feedback. Are you following the installations steps for the nodejs blueprint? Maybe it is not correctly installed because the generation runs with the standard jhipster phase.
In this repository there are all integration tests with jdl examples, so it is a machine configuration issue:  https://github.com/jhipster/generator-jhipster-nodejs/tree/master/test-integration/samples

[2020-03-10 10:24] Zahma commented on #107
first of all I would like to thank you for your wonderful work.
Maybe its a problem related to the version of generator-jhipster that I use. I'm using the latest version 6.8.0, whereas in yout documentation I think its compatible with 6.6.0 ? I will retest with 6.6.0

[2020-03-10 10:44] amanganiello90 commented on #107
Thanks you for the contribution! it's my pleasure that the community start to grew up :) ..
Yes for now the jhipster version is 6.6.0

[2020-03-10 20:03] Zahma commented on #107
I'm back I tested back with 6.6.0 still getting the same message:

Unable to find src/main/resources/config/liquibase/master.xml or missing required jhipster-needle. Reference to 20200310200041_added_entity_constraints_Accountant.xml not added.

for each of my entities and relationships.

[2020-03-10 20:22] amanganiello90 commented on #107
Are you be able to create the node js app with:
``jhipster - - blueprints nodejs```
?

[2020-03-10 20:54] Zahma commented on #107
Yes I was able to create the app, then I run jhipster import-jdl dropme.jdl --blueprints nodejs

[2020-03-10 21:17] amanganiello90 commented on #107
Could you run with:

```jhipster --blueprints nodejs import-jdl dropme.jdl```
?
If you have error yet,  please attach here your jdl.

[2020-03-10 21:38] Zahma commented on #107
The jdl is the one from https://www.jhipster.tech/jdl-studio/ the basic example.

[2020-03-11 09:55] amanganiello90 commented on #107
Could you please install the nodejs blueprint as devDependency in your generated project with :
```npm install generator-jhipster-nodejs --save-dev```
And rerun import command?

[2020-03-11 15:15] amanganiello90 commented on #106
@walshe-boylesoftware
Fixed on [bug/106 branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/bug/106)

[2020-03-11 15:20] walshe commented on #106
do you know when this will be released ?

[2020-03-11 15:36] amanganiello90 commented on #106
I have other 3 issues for the first stable release.. but if you want now this fix, I could release another beta version.

[2020-03-11 15:41] walshe commented on #106
it's ok, I can wait :)

[2020-03-11 18:04] Zahma commented on #107
@amanganiello90 Well done now it works, Thank youu

[2020-03-11 18:26] amanganiello90 commented on #107
Thank you, I will reinclude blueprint as devDependency.

[2020-03-11 18:29] #107 closed

[2020-03-13 15:33] feitian124 opened #109 "npm run start:app not work after init an new app"
**Describe the bug**
`npm run start:app` not work after init an new app

**To Reproduce**
1. after install 1.0.0-beta.3
2. then jhipster --blueprints nodejs
3. create an monolith app, see
[yo-rc.txt](https://github.com/jhipster/generator-jhipster-nodejs/files/4330278/yo-rc.txt)
4. npm install
5. npm run start:app

**Expected behavior**
app luanch and works.

**Screenshots**
[code]

**Desktop (plea

[2020-03-13 15:58] feitian124 commented on #109
well.. below works
[code]

[2020-03-13 17:02] amanganiello90 commented on #109
Hi @feitian124 , thanks a lot for your feedback!
The issue is related to the react client build, so this is the reason that *npm start* command works (run only backend), while  *npm run start:app*  is broken (it builds the client, and after run the full client/server app).
The issue is due to jhipster, not to blueprint.
In fact, I opened a issue for that: https://github.com/jhipster/generator-jhip

[2020-03-13 22:06] Zahma opened #110 "Problem with jdl relationships between default User jhipster entity"
**Describe the bug**
Generated code is not running because of one to one relationship with the entity user I guess.

**To Reproduce**
1. Generate code with the following JDL:

entity ExtendOne {

}

entity ExtendTwo {

}

relationship OneToOne {
    ExtendOne{user(login) required} to User,
    ExtendTwo{user(login) required} to User,
}

2. Start the app

**Expected behavior**
Getting the following

[2020-03-14 10:07] amanganiello90 commented on #110
Hi @Zahma  thanks for the feedback!
Maybe your jdl is wrong... you cannot do relationship with the dafault jhipster user.
Infact, in the running is logged a warn:
``
warn: An Entity name 'User' was used: 'User' is an entity created by default by JHipster. All relationships toward it will be kept but any attributes and relationships from it will be disregarded.
``

[2020-03-14 10:15] amanganiello90 opened #111 "Update with last jhipster version and add blueprint as devDependency project"
To avoid error with react client in jhipster 6.6.0 version, reported by https://github.com/jhipster/generator-jhipster/issues/11229, and use blueprint always in the import-jdl, by #107 and #109

[2020-03-14 12:09] Zahma commented on #110
Thank you, In fact the relationship points towards Users and not the opposite . So normally the relationship should be kept. Otherwise, do you know of a good idea to extend user entity ? In Jhipster we used to add the "mappedBy" in the user domain.

[2020-03-14 14:45] MathieuAA commented on #110
The JDL is okay (except I don't get the two relationships, but I guess it's just an over-simplified sample).
Looks like a genuine compilation issue due to what's been generated, but it's weird: I could have sworn this use-case is supported in JHipster (without blueprint I mean)

[2020-03-14 14:45] amanganiello90 commented on #110
Maybe I have resolved this in: https://github.com/jhipster/generator-jhipster-nodejs/tree/bug/110

You can download and link locally that for testing. For me it's work. Thanks a lot

[2020-03-14 14:55] amanganiello90 commented on #110
Yes, I have fixed it.

[2020-03-14 15:29] Zahma commented on #110
I'll try and let you know ;)

[2020-03-14 15:30] amanganiello90 commented on #110
Sweet, thanks!

[2020-03-16 12:50] feitian124 commented on #109
@amanganiello90  thank you for your reply.

And nice work of nodejs backend for jhipster, i think this deserves more attention from nodejs community as they also need bluesprint. But jhipster is mostly for java developers so nodejs community may not know this well yet.

besides, if nodejs backend is used, then the backend and frontend are using the same language,  some nodejs specific staff can us

[2020-03-16 12:56] amanganiello90 commented on #109
Yes, I already post article about the nodejs blueprint on LinkedIn, Twitter and dev sites.

[2020-03-16 13:06] feitian124 commented on #109
:+1: keep safe from novel coronavirus and good luck.

[2020-03-23 15:54] amanganiello90 commented on #64
@mraible , feauture implemented ;)

[2020-03-23 15:57] amanganiello90 opened #113 "Support docker-compose app.yml stack with keycloack oauth2"
The feature works if you start only keycloack.yml and run locally the application, but it occours 401 after login if you run all dockerized app.yml stack  (there is also the app containerized)

[2020-03-23 15:59] amanganiello90 commented on #110
I have retested it. So, in order to release, I consider this close. If you have other request please open a new issue. Thanks

[2020-03-23 16:08] #64 closed

[2020-03-23 16:15] #110 closed

[2020-03-23 17:45] #87 closed

[2020-03-23 20:16] amanganiello90 commented on #111
Adding jhipster v6.8.0

[2020-03-24 09:19] amanganiello90 opened #117 "First stable Release: 1.0.0"
This issue report the status update of the first stable (not beta) release.

[2020-03-24 09:24] #111 closed

[2020-03-24 09:31] amanganiello90 commented on #117
Here [CHANGELOG.md](https://github.com/jhipster/generator-jhipster-nodejs/blob/v1.0.0/CHANGELOG.md):

- Copying node modules - support webpack bundle [issue #100](https://github.com/jhipster/generator-jhipster-nodejs/issues/100)
-   ManyToOne relationship error generation [issue #106](https://github.com/jhipster/generator-jhipster-nodejs/issues/106)
-   Problem with jdl relationships between defau

[2020-03-24 11:55] amanganiello90 commented on #117
I'm very happy to announce the first published [1.0.0 blueprint version](https://www.npmjs.com/package/generator-jhipster-nodejs/v/1.0.0)!
@jhipster/developers, @feitian124, @ajoysinhactc, @Zahma, @MathieuAA, @walshe-boylesoftware, @kosnkow, @ItsInsajd, @robconnell9, @jhipster/hipsters, @danielpetisme  and @hadirsa

[2020-03-24 11:57] MathieuAA commented on #117
Ah ! Excellent news, great work!

[2020-03-24 11:57] amanganiello90 commented on #117
Thanks, sweet!

[2020-03-24 12:02] jdubois commented on #117
Awesome!!! Let me tweet this right away with the official JHipster account

[2020-03-24 17:58] pascalgrimaud commented on #117
good job @amanganiello90

[2020-03-24 23:12] Zahma commented on #117
Excellent job, lets keep it up

[2020-03-24 23:24] FanchGadjo commented on #117
Congratulations ! 🎉

[2020-03-25 08:20] amanganiello90 commented on #109
HI @feitian124 , now there is the last release (1.0.0) with your request: I consider this issue closed, but for every problems feel you free to open new tickets. Thanks.

[2020-03-25 08:20] #109 closed

[2020-03-25 12:59] feitian124 commented on #109
nice work, thanks

[2020-03-25 18:18] Aragonbn90 opened #118 "Installation on Windows can not copy file with prefix ".""
**Describe the bug**
1. On windows, install with: npm install -g generator-jhipster-nodejs success
2. Generate new monolithic app: jhipster --blueprints nodejs
3. See error:
4. See error:
Error: Copying template server/.server.eslintrc.json.ejs failed. [Error: ENOENT: no such file or directory, open 'C:\ProgramData\nvm\v12.16.1\node_modules\generator-jhipster-nodejs\generators\server\templates\ser

[2020-03-25 18:23] amanganiello90 commented on #118
Thanks for the issue. Maybe during the npm publish it ignored some files. So I will check it.

[2020-03-25 20:18] #117 closed

[2020-03-26 07:56] amanganiello90 commented on #118
You are right!! thank you very much for the feedback!! all the dot templates are ignored, so I will fix it releasing a new 1.0.1 version.

[2020-03-26 09:06] #118 closed

[2020-03-26 09:13] amanganiello90 commented on #118
Now you can check with the last https://www.npmjs.com/package/generator-jhipster-nodejs/v/1.0.1 version. Thanks

[2020-04-07 16:49] Aragonbn90 opened #119 "Support i18n for backend and frontend"
**Is your feature request related to a problem? Please describe.**
Have not supported internationalization.

**Describe the solution you'd like**
Frontend: same solution with generator-jhipster
Backend: use https://www.npmjs.com/package/nestjs-i18n/v/4.1.3, that comforts with current version of nestjs

**Additional context**
Please give me some advice. I want to contribute this feature. Thanks.

[2020-04-07 18:05] amanganiello90 commented on #119
Hi @Aragonbn90, thanks for the interest!
Before we have to enable i18n for Angular /react client (only for the home page I have customize that).
The last has already open issue #45
So do you refer to the backend? It has only rest api, what would you like to internationalize?

[2020-04-08 01:33] Aragonbn90 commented on #119
I will try with #45 and #59 first, then with frontend support, and last with backend.
I'm a Java and Node.js developer. I'm going to use this generator more times. So I want to complete it, to have full feature like generator-jhipster.

[2020-04-08 06:53] amanganiello90 commented on #119
Sweet! you are welcome!
So.. have you experience with jhipster blueprints?

[2020-04-08 06:59] amanganiello90 commented on #45
First Steps:
1. Enable i18n deleting [these configuration](https://github.com/jhipster/generator-jhipster-nodejs/blob/bd6f3cf9ba5b9d8ffb5ed2abb98b03a6301514a6/generators/app/index.js#L91)
2. Create a [entity-i18n subgenerator](https://github.com/jhipster/generator-jhipster/tree/master/generators/entity-i18n) in Nhipster

[2020-04-08 07:00] amanganiello90 commented on #59
First Steps:
1. Enable i18n deleting [these configuration](https://github.com/jhipster/generator-jhipster-nodejs/blob/bd6f3cf9ba5b9d8ffb5ed2abb98b03a6301514a6/generators/app/index.js#L91)
2. Create a [entity-i18n subgenerator](https://github.com/jhipster/generator-jhipster/tree/master/generators/entity-i18n) in Nhipster

[2020-04-08 09:41] Aragonbn90 commented on #119
I used jhipster from Sep 2019. It's so amazing.
I will try to learn jhipster blueprints.
Many thanks for your guidelines.

[2020-04-08 09:49] Aragonbn90 commented on #59
I've forked the repository. This issue will be at https://github.com/Aragonbn90/generator-jhipster-nodejs/tree/i18n-react-home

[2020-04-08 09:53] amanganiello90 commented on #59
Great!!! you are wonderful!

[2020-04-11 04:13] Aragonbn90 opened #120 "User controller error for old express-serve-static-core"
**Describe the bug**
User controller got typescript error.

**To Reproduce**

1. Use generator-jhipster v 6.8.0, generator-jhipster-nodejs v1.0.1
2. Create new project:
`mkdir my-app && cd my-app`
`jhipster --blueprints nodejs`
---- Choose Monolithic, JWT, MySQL, React, Default Jhipster theme
`cd server && npm install`
`npm start`

4. See error
**Expected behavior**
src/web/rest/user.controller.ts

[2020-04-11 10:17] amanganiello90 commented on #120
HI @Aragonbn90 , thanks for the feedback!!
Maybe it's a problem of external dependencies, because from v1.0.0 to v1.0.1 it is changed only a thing about the files not published (#118 , your issue). Then, the integration tests for these versions were ok after the release (the integration tests run also the application with a lot of configuration as your) : https://github.com/jhipster/generator-jhip

[2020-04-11 11:02] amanganiello90 commented on #120
Thanks! All perfect! Now you are an official contributor ;) ..https://github.com/jhipster/generator-jhipster-nodejs#contributors-

[2020-04-11 11:02] #120 closed

[2020-04-14 15:34] yotamshapira opened #123 "Compilation issue on new application"
**Describe the bug**
After generating an application, without modifying its code, I could not start the server due to a compilation issue.

**To Reproduce**
Steps to reproduce the behavior:

1. jhipster --blueprints nodejs
2. Options used:
[code]
3. cd server
4. npm install
First issue is here, installation was not successful:
[code]
5. npm start
Crash lopg:
[code]

**Expected behavior**
Both clie

[2020-04-14 15:39] amanganiello90 commented on #123
This is linked to #120 , you have to wait  for the next release. It is due to an old version of express-serve-static-core. Update the server/package.json with:

[code]

Then, you have some issues on your Mac for node-gyp (an external npm package).

[2020-04-14 16:33] yotamshapira commented on #123
That indeed solved the issue.
Also, if anyone should encounter the node-gyp issue, I fixed it as described here: https://stackoverflow.com/questions/34617452/how-to-update-xcode-from-command-line

Thanks!

[2020-04-14 16:34] #123 closed

[2020-04-14 20:40] yotamshapira opened #124 "Unauthorized error in jwt authentication when run client and server separately"
**Describe the bug**
When running the client separately from the server, as described in the README.md file, I can't log in

**To Reproduce**
Steps to reproduce the behavior:

1. On one terminal, run:
`cd server && npm start`
2. On a second terminal, run:
`npm start`
3. A browser window opens on `http://localhost:9000/`
4. Sign in using any credential (e.g. user `admin`, password: `admin`) - log i

[2020-04-15 06:49] amanganiello90 commented on #124
Hi, thanks for the feedback.
So, when you run separately server and client in two command lines, you have to specify the backend endpoint in the angular/react client.
Instead, when you build client and run the nestjs app, it will copy the build under express, and run backend and client as a full app (as it were an only server).

For backend refresh you have to run **npm run start:dev** task under

[2020-04-15 08:55] yotamshapira commented on #124
I tried modifying the SERVER_API_URL to ```SERVER_API_URL: `'http://localhost:8081/'` ```, but that had the same effect as leaving it empty (as generated).
I don't think this is the issue since the first call, a POST request to `http://localhost:8081/api/authenticate` is successful (see screenshot in the issue description).

[2020-04-15 08:56] yotamshapira commented on #124
By the way, you can see this behaviour in the sample app - https://github.com/jhipster/jhipster-sample-app-nodejs

[2020-04-15 09:27] yotamshapira opened #125 "Entity not saved with relationship for many-to-one"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the sample application - https://github.com/jhipster/jhipster-sample-app-nodejs:
`git clone git@github.com:jhipster/jhipster-sample-app-nodejs.git`
2. Modify `server/package.json` as described in #120
3. Install dependencies in client & server
`npm install`
`cd serv

[2020-04-15 10:33] amanganiello90 commented on #124
Yes, the first request is ok because it retrieves the jwt token (that api does not have security). But the following api (account), is protected and it return unauthorized response (401). The workflow is the same if you run the full stack app, maybe there is a problem for CORS in case that you have two separately app (a client that calls an external server).

[2020-04-15 10:48] amanganiello90 commented on #125
Thanks for the feedback. But I don't understand very well.. Could you please open the view tab of entity with Many title and see if the mask contains One entity?

[2020-04-15 10:52] yotamshapira commented on #125
No, its not there. The backend does not return the author field at all
![image](https://user-images.githubusercontent.com/2280715/79329271-2b475e80-7f20-11ea-8d74-952e01e62d22.png)

![image](https://user-images.githubusercontent.com/2280715/79329343-4d40e100-7f20-11ea-8d19-34715b4ea14f.png)

[2020-04-15 10:56] amanganiello90 commented on #125
In your case it is missed the name field under one entity. Could you import this jdl and test the many-to-one relationship? (if there is the same issue): https://github.com/jhipster/generator-jhipster-nodejs/blob/master/test-integration/samples/microservice-oauth2-sql-jdl/microservice-oauth2-sql-jdl.jdl

[2020-04-15 11:11] yotamshapira commented on #125
Same thing happens, the relation is not returned to the server or shown in the UI (it WAS sent to the server in the POST request creating the entity, same as in my example).

![image](https://user-images.githubusercontent.com/2280715/79330863-e7a22400-7f22-11ea-98ae-6f1125c754b1.png)

![image](https://user-images.githubusercontent.com/2280715/79330887-f25cb900-7f22-11ea-848b-841e841628d7.png)

[2020-04-15 12:06] amanganiello90 commented on #125
ok, I investigate on it, maybe there is an error on annotation mapped in the entity.ts

[2020-04-20 17:17] stisko opened #126 "Cannot compile app:: src/web/rest/user.controller.ts:29:54 - error TS2345: Argument of type 'string | Query | (string | Query)[]' is not assignable to parameter of type 'string | number'."
After following all the instructions, from the readme, i cannot run my application (the same happens on sample app nodejs.

This error message appears.

[code]

Why this happen?

[2020-04-20 17:19] #126 closed

[2020-04-20 17:48] amanganiello90 commented on #126
Linked to #120

[2020-04-25 16:13] amanganiello90 opened #129 "Blob types not saved"
Blob images file are not saved in sqlite.

[2020-04-25 16:49] amanganiello90 commented on #125
I fix with https://github.com/jhipster/generator-jhipster-nodejs/commit/d6354b99fcb9a4ca76c39947fa7f8ff8af7ebe84 .
Try it. Thanks

[2020-04-27 08:25] amanganiello90 commented on #125
Check on new release: https://www.npmjs.com/package/generator-jhipster-nodejs/v/1.0.2 .
If there are another problems, fell free to open new issues. Thanks.

[2020-04-27 08:25] #125 closed

[2020-05-01 11:18] Aragonbn90 opened #130 "Sqlite3 v4.0.9 cannot start with nodejs v12.16.x"
**Describe the bug**
Sqlite3 v4.0.9 cannot start with nodejs v12.16.x

**To Reproduce**

1. Use JHipster version 6.8.0
2. Create monolithic NHipster app
3. Run app with `npm run start:app`
4. See error
`
[Nest] 7512   - 05/01/2020, 6:15 PM   [TypeOrmModule] Unable to connect to the database. Retrying (2)... +2998ms
DriverPackageNotInstalledError: SQLite package has not been found installed. Try to

[2020-05-01 14:33] amanganiello90 commented on #130
Hi Ed,
Are you sure? We have integration tests pipeline on github actions with node 12.16.2.

[2020-05-01 17:00] Aragonbn90 commented on #130
Oh, I've rechecked.
Maybe because I'm using dev version on my local. After I unlink jhipster and nhipster dev version, then reinstall them, there's no error.
Sorry because this mistake.

[2020-05-01 17:00] #130 closed

[2020-05-04 14:12] amanganiello90 commented on #45
For the previous second step, it must be replaced with the languages subgenerator.

[2020-05-04 14:12] amanganiello90 commented on #59
For the previous second step, it must be replaced with the languages subgenerator.

[2020-05-05 02:50] mraible opened #131 "Running `npm test` in the server project fails with eslint errors"
**Describe the bug**

I created a brand new app, ran `npm install` in the root directory, and in the server directory, then ran `npm test` in the server directory. It fails with the following error:

[code]

**To Reproduce**

Create an app with React and OAuth 2.0, then run `npm i && npm test` in the server directory.

**Expected behavior**

I'd expect all tests to pass, just like they do with JHi

[2020-05-05 02:51] mraible commented on #131
Running `npm run lint:fix` fixes the problem.

[code]

Maybe this should be run as part of the app-generation process?

[2020-05-05 02:55] mraible opened #132 "There's a space missing before "sign in" on the homepage"
**Describe the bug**

Generate a new app with React and OAuth 2.0. The words are scrunched together. There should be a space before "sign in" on the homepage.

<img width="976" alt="Screen Shot 2020-05-04 at 8 54 08 PM" src="https://user-images.githubusercontent.com/17892/81031476-97472380-8e49-11ea-867c-55409e4b4e1a.png">

[2020-05-05 02:58] mraible opened #133 "Navigating to admin screens results in 404 errors"
**Describe the bug**

Create a React + OAuth 2.0 app, start it, then navigate to the **Administration** screens. The first one results in a 404 error, as do the rest of them.

<img width="1438" alt="Screen Shot 2020-05-04 at 8 56 38 PM" src="https://user-images.githubusercontent.com/17892/81031574-ec833500-8e49-11ea-91b2-e61609a5ede9.png">

[2020-05-05 03:54] mraible opened #134 "npm start:app doesn't work"
**Describe the bug**

After generating an app, it says:

[code]

I tried running it and it doesn't work.

[code]

Should it be `npm run start:app`?

[2020-05-05 03:59] mraible opened #135 "Generating a new app with JDL and i18n doesn't compile"
**Describe the bug**

I created a new app from the following JDL and it doesn't compile.

[code]

**To Reproduce**

Create a new directory and put the above JDL into an `app.jdl` file. Then run:

[code]

Run `npm install && cd server && npm install`.

Then run `npm run start:app`. You'll get the following error:

[code]

**Expected behavior**

I expect `npm run start:app` to work, my entities to b

[2020-05-05 07:10] amanganiello90 commented on #131
Hi Matt,
thanks for the feedback! Yes the ```npm run lint:fix``` is before testing phase. The problem is that the blueprint can't run it after generation without install of server dependencies.

[2020-05-05 07:14] amanganiello90 commented on #134
Hi Matt,
thanks for the feedback! Yes you can see it in the [example app](https://github.com/jhipster/jhipster-sample-app-nodejs/blob/fdfd27c27c86476322fd3cf29fb93d4cf54c187c/package.json#L108).

I have to fix message after generation and in README.md, thanks!

[2020-05-05 07:16] amanganiello90 commented on #133
Hi Matt,
thanks for the feedback! Now the nodejs server does not manage administration part (JVM Metrics is not a nodejs feature).

[2020-05-05 07:21] amanganiello90 commented on #132
Hi Matt,
Thanks for the feedback. So This blueprint does not modify jhipster clients, so the home page is a copy from client subgenerator. However I notice that the space is due to the missing of a return of **getLoginUrl()** function:

[code]
https://github.com/jhipster/generator-jhipster-nodejs/blob/9552302fd4ce6dcc52845d248bf506d64ecdb9b4/generators/client/templates/react/home/home.tsx.ejs#L55

[2020-05-05 07:26] amanganiello90 commented on #135
Hi Matt,
thanks for the feedback!
Now the i18n for client is not implemented yet (See #121).

Could you set the EnableTranslation to false as my integration test that compile? :https://github.com/jhipster/generator-jhipster-nodejs/blob/9552302fd4ce6dcc52845d248bf506d64ecdb9b4/test-integration/samples/monolith-react-jwt-sql-jdl/monolith-react-jwt-sql-jdl.jdl#L24

After it, retry the compile task.

[2020-05-05 12:12] mraible commented on #131
In that case, is it possible to run Prettier?

[2020-05-05 12:20] amanganiello90 commented on #131
The problem is the same of to run lint:fix script after generation from the blueprint: it is necessary to perform also the npm install for the server side.

[2020-05-05 23:53] mraible commented on #131
@amanganiello90 Is it possible to make it so `npm test` runs `npm run lint:fix` first? If not, we should document that you need to run it in the README that's generated.

[2020-05-06 00:09] mraible commented on #135
@amanganiello90 I'm curious - why do you have to manually run `npm install` in the root directory. The main JHipster generator runs `npm install` as part of its generation process.

[2020-05-06 00:11] mraible commented on #135
If I use above JDL with `enableTranslation false`, I get a different error:

[code]

[2020-05-06 03:51] mraible commented on #135
If I change it to `postgres` like this blueprint seems to expect, I get an error too.

[code]

Therefore, I think it should be changed to `postgresql`. This is what the main JHipster generator expects.

[2020-05-06 04:09] mraible commented on #132
@amanganiello90 This method just returns a URL. It's import is:

[code]

Code is:

https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/src/main/webapp/app/shared/util/url-utils.ts.ejs#L19-L25

[2020-05-06 04:12] mraible commented on #135
If I change the database to `mysql` and disable i18n, I get a compilation error:

[code]

Here's my JDL:

[code]

[2020-05-06 04:29] mraible commented on #133
In that case, it might make sense to override the navbar template and remove the Administration menu.

[2020-05-06 07:01] amanganiello90 commented on #135
There is another node_modules for the backend part under [server folder](https://github.com/jhipster/jhipster-sample-app-nodejs/tree/master/server).

For the jdl validation you have to use **postgresql**..postgres is the object expected from [typeORM](https://github.com/nestjs/typeorm). I will test it to pass from jdl.

[code]

[2020-05-06 07:11] amanganiello90 commented on #133
Thanks, I fix it.

[2020-05-06 07:15] amanganiello90 commented on #131
Ok I will include it as pretest phase. Thanks

[2020-05-06 07:21] amanganiello90 commented on #132
Ok, then it is only a space missing in the tag, because the link works. Thanks.

[2020-05-06 07:22] amanganiello90 opened #136 "Enhancement suggestions list tasks for 1.1.0 version"
For @mraible tests, we list the enhancement tasks:

- #131 include lint:fix in npm test task
- #132 add space in react home page for signin line
- #133 Delete admin UI panel
- #134 update README.md and message of the start script to run
- #138 Allows postgresql database in jdl

So in this issue will be resolved all tasks.

[2020-05-06 07:23] amanganiello90 commented on #134
I close it because I have list all the changes in #136

[2020-05-06 07:23] #134 closed

[2020-05-06 07:23] amanganiello90 commented on #131
I close it because I have list all the changes in #136

[2020-05-06 07:23] #131 closed

[2020-05-06 07:23] amanganiello90 commented on #133
I close it because I have list all the changes in #136

[2020-05-06 07:23] #133 closed

[2020-05-06 07:24] amanganiello90 commented on #132
I close it because I have list all the changes in #136

[2020-05-06 07:24] #132 closed

[2020-05-06 21:21] mraible commented on #136
@amanganiello90 If you'd like to assign bug bounties to issues in this project, please create a proxy ticket in `generator-jhipster` and I can assign $$ to it. [Here's an example](https://github.com/jhipster/generator-jhipster/issues/11690) for a Vue.js enhancement.

[2020-05-07 08:21] amanganiello90 commented on #136
Ok thanks, I would like to propose @Aragonbn90 , if he is interested :)

[2020-05-07 09:52] Aragonbn90 commented on #136
Yeh, I'm always interested in this project :D

[2020-05-07 10:13] amanganiello90 commented on #136
Well, I assign you this issue, and Matt will give you a bounty to resolve ;)

[2020-05-07 16:13] amanganiello90 commented on #136
Wonderful, @Aragonbn90 you can start when you want. Let you fell free to ask me more details ;)

[2020-05-07 16:28] mraible commented on #135
@amanganiello90 I tried removing Elasticsearch since that seems to be one difference between our JDLs. When I do that, I get a new error when the server starts.

[code]

[2020-05-07 16:34] amanganiello90 commented on #135
Oh yes, in dev profile (sqlite db) the enums are not supported: https://github.com/jhipster/generator-jhipster-nodejs/blob/master/README.md#-what-we-have-now.

Run the app with prod profile in order to use your prod database:
[code]

[2020-05-07 16:38] mraible commented on #135
I'm on a Mac, so I had to use `export` instead of `set`. When I do this, it's unable to connect to MySQL. Should there be a `mysql.yml` created in `src/main/docker`? I don't see one in my project.

[code]

[2020-05-07 16:45] amanganiello90 commented on #135
Now docker support is only for sonar and keycloak (there are not database containerization yet).
You have to use an external database configuring the host: https://github.com/jhipster/jhipster-sample-app-nodejs/blob/fdfd27c27c86476322fd3cf29fb93d4cf54c187c/server/src/orm.config.ts#L30

it is all explained in the README generated: https://github.com/jhipster/jhipster-sample-app-nodejs/tree/master/s

[2020-05-07 16:58] amanganiello90 opened #137 "Docker support for mysql, mssql and postgresql"
As explained in #135 , we need to provide yml files for these database.
We can refers in part to files in https://github.com/jhipster/generator-jhipster/tree/master/generators/server/templates/src/main/docker

[2020-05-07 17:02] amanganiello90 opened #138 "Allows postgresql database in jdl"
**Describe the bug**
As expained in #135, now if in the jdl set as prod database **postgresql**, there is an error of npm typeorm package in server folder. So convert that string in **postgres** to install the correct dependency from the template:  https://github.com/jhipster/generator-jhipster-nodejs/blob/9552302fd4ce6dcc52845d248bf506d64ecdb9b4/generators/server/templates/server/package.json.ejs

[2020-05-12 07:15] amanganiello90 commented on #135
I close it because there are two related issues for this. Thanks

[2020-05-12 07:15] #135 closed

[2020-05-18 07:11] amirmehdi opened #139 "sqlite doesn't support enum"
I used this jdl to import in a monolithic project.
https://github.com/jhipster/jdl-samples/blob/master/online-shop.jh

two issues occurred:
1. wrong import in the category in category-model and category-entity . that's not important
2. error in npm start occurred:
Data type "enum" in category is not supported by "sqlite" database.

I solved this issue in development mode by this:
https://github.co

[2020-05-18 07:13] amanganiello90 commented on #139
You are the best!! Could you contribute with a Pull Request? it should be very nice :)

[2020-05-18 14:32] amanganiello90 commented on #139
The import error is due to a recursive relationship:

[code]

[2020-05-18 17:33] amanganiello90 commented on #74
I fixed that in PR #140

[2020-05-18 17:33] #74 closed

[2020-05-19 06:48] olegruchovets opened #141 "Vue support."
Hi Guys.
   Do you support vuejs?

[2020-05-19 07:08] amanganiello90 commented on #141
Hi! This is a blueprint for the server side, not ovverride client generation.
For VueJS there is an external module: https://github.com/jhipster/jhipster-vuejs
Besides, in the nest jhipster 7.x release, it will be included as a client option: https://github.com/jhipster/generator-jhipster/issues/10575

[2020-05-19 10:47] #139 closed

[2020-05-19 10:47] amanganiello90 commented on #139
I have just fixed the recursive import and adding new simple-enum type (merged by PR). Thanks.

[2020-05-28 11:45] #141 closed

[2020-06-07 09:38] amanganiello90 opened #143 "Create a nhipster command line"
It would be great to have a nhipster cli as alias of "jhipster --blueprints" command.

[2020-06-07 10:18] #136 closed

[2020-06-07 10:21] amanganiello90 commented on #138
Resolved with https://github.com/jhipster/generator-jhipster-nodejs/pull/144

[2020-06-07 10:21] #138 closed

[2020-06-09 10:14] #143 closed

[2020-06-09 10:28] #137 closed

[2020-06-18 04:15] khashvin opened #147 "Unable to create a new entity for jhipster 6.8.0 bug"
**Describe the bug**
Unable to create a second entity after starting a new project
This is the error that I got after creating the second entity
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create new project
2. Create 1st entity with entity generator
3. Create 2nd entity with many to one relationship to 1st entity
4. See error

**Desktop (please complete the following information

[2020-06-18 07:00] amanganiello90 commented on #147
Hi @khashvin , thanks for the feedback!! But could you please add the steps command that you have executed with the entity name? maybe you have choosen a name not allowed.

[2020-06-21 17:00] MattLish opened #148 "MongoDB support"
## Overview of the issue

In this issue you mention that MongoDB doesn't work.
https://github.com/jhipster/generator-jhipster-nodejs/issues/51

Is there anything on the roadmap to have this added back in?
What doesn't work about it?
If I was to add mongoDB back into the Type ORM settings, what production issues am I likely to face?

## Reproduce the error
N/A

## Related issues
N/A

## Link to PR

[2020-06-22 12:09] amanganiello90 commented on #148
Hi @MattLish, thanks for the interest! Now there is not supported mongodb, because in dev mode the application starts with sqlite. So we need to keep that in dev, and enable mongodb in prod running.
#73

[2020-06-22 15:57] MattLish commented on #148
@amanganiello90 I see. I missed that issue. Thanks for the reply. Feel free to close this issue if you feel it adds no value.

[2020-06-22 16:07] mraible commented on #148
@amanganiello90 The main JHipster generator allows you to use MongoDB in development via Docker Compose. Why can't this blueprint do the same?

[2020-06-23 06:56] amanganiello90 commented on #148
Hi @mraible, the last idea is to use only a mongodb for production chooise, but the default db for development is always sqlite. Your idea instead is to use mongodb for dev and production (that could be another solution).

[2020-06-23 09:19] MattLish commented on #148
@amanganiello90 I feel like that would be an acceptable solution to use Mongo in dev/prod. Most people that use Mongo in production are likely to want to test using Mongo in dev mode.

[2020-06-23 09:32] amanganiello90 commented on #148
Ok, we can work on that configuration, a mongodb for dev/prod environment

[2020-06-23 10:32] amanganiello90 commented on #73
According #148 , I change this issue in order to implement mongodb as dev and prod db (so including a dockerized container).

[2020-06-23 10:34] #148 closed

[2020-06-23 13:49] MattLish commented on #73
Can you try to give an overview of the work required to do this?
I am new to jhipster so I am not sure what needs doing.
If you can give an overview, I might be able to help out adding it.
(Or if not me, someone might be able to help)

[2020-06-23 14:14] amanganiello90 commented on #73
Then, you can try to build a sample app with mongodb.
For this fork the [sample nodejs app](https://github.com/jhipster/jhipster-sample-app-nodejs).
After that you have to do some changes to run the app with mongodb:
1 - Modify [typeOrmConfig](https://github.com/jhipster/jhipster-sample-app-nodejs/blob/master/server/src/orm.config.ts) with mongodb endpoint. You can use a free online instance from

[2020-06-26 15:35] ecirilo opened #149 "jest-diff error running "npm run webpack:prod""
**Describe the bug**
Doing an npm run webpack:prod in server folder of a generated app shows the import errors:

ERROR in /Users/elder/Programming/oomenu/backoffice/server/node_modules/jest-diff/build/index.d.ts
[tsl] ERROR in /Users/elder/Programming/oomenu/backoffice/server/node_modules/jest-diff/build/index.d.ts(10,13)
      TS1005: '=' expected.

ERROR in /Users/elder/Programming/oomenu/backof

[2020-06-26 16:44] amanganiello90 commented on #149
Hi!! Thanks for the interest!
This is a new bug of jest: https://github.com/facebook/jest/issues/9714#issuecomment-604678837
I have just fixed that with the following steps:
- Update in your server package.json the jest and @types/jest to 25.2.3 version
- Add in your webpack.server.prod.config.ts the following section:

[code]

These steps resolve that. I'm starting a branch on the generator.

[2020-06-29 07:07] #149 closed

[2020-06-30 08:07] amanganiello90 commented on #147
I investigate on this, it is a jhipster bug fixed in 6.9.0 version : https://github.com/jhipster/generator-jhipster/issues/11595

So we need to upgrade the version from 6.8.0.
Thanks.

[2020-07-09 07:16] #53 closed

[2020-08-02 03:37] truyenthanh opened #154 "Fetch list of entities get error with React"
**Describe the bug**
With Reactjs as client framework, error when fetch list of entities:
`Error: section could not be split on ";"`

**To Reproduce**
Steps to reproduce the behavior:

1. Login
2. Click on Entities/YOUR_ENTITY
4. See error
`Error: section could not be split on ";"
    at url-utils.ts:24
    at Array.forEach (<anonymous>)
    at push../node_modules/react-jhipster/lib/src/util/url-u

[2020-08-02 03:45] #154 closed

[2020-08-02 03:50] Aragonbn90 opened #155 "Error when fetch list of entities from react client"
**Describe the bug**
With Reactjs as client framework, error when fetch list of entities:
`Error: section could not be split on ";"`

**To Reproduce**
Steps to reproduce the behavior:

1. Login
2. Click on Entities/YOUR_ENTITY
4. See error
`Error: section could not be split on ";"
    at url-utils.ts:24
    at Array.forEach (<anonymous>)
    at push../node_modules/react-jhipster/lib/src/util/url-u

[2020-08-02 17:44] Aragonbn90 opened #156 "enum type values not correctly mapped in the server side"
**Describe the bug**
Enum type at server side is not set value.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate entity with enum column, such as: ONE,TWO,THREE
2. Start app
3. Add new record with enum value ONE
4. See error
sql error:

**Expected behavior**
Created record with enum value 'ONE'

**Desktop (please complete the following information):**

-   OS: Windows 10
-   Browser

[2020-08-03 09:23] amanganiello90 commented on #156
Hi @Aragonbn90 , thanks for the feedback!
So the issue is due to the [template],(https://github.com/jhipster/generator-jhipster-nodejs/blob/master/generators/entity-server/templates/server/src/domain/enumeration/Enum.ts.ejs), we have to replace the *enumValues* with the literal object as explained in your example.

Maybe we have to generate e2e entity test more useful without entityMock object in

[2020-08-03 09:33] amanganiello90 commented on #155
Hi @Aragonbn90 thanks for the issue! You are the best framework tester ;)
So I think that the error is related to the jhipster client side, I will update the version from the actual 6.8.0 to the latest in order to resolve also the entity generator bug.
However, you have found a solution in the server side, but indeed I don't know much about pagination because it is a feature inherited from a jhips

[2020-08-03 12:58] Aragonbn90 commented on #155
Hi @amanganiello90, I will try with this issue. Thank you for your client side suggest.

[2020-08-03 17:48] ssanusi opened #157 "double stitch port on app.yml"
**Describe the bug**
A clear and concise description of what the bug is.
After generating the nhipster app i tried to run it with docker, however i get the error
[code]
so i have to remove the semi-column on the ports from ``` /src/main/docker/app.yml ```

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior

[2020-08-04 09:28] #157 closed

[2020-08-04 09:31] amanganiello90 commented on #157
Thanks for the feedback, you are welcome!

[2020-08-04 12:50] #155 closed

[2020-08-04 12:50] amanganiello90 commented on #155
Thanks, it works!

[2020-08-05 11:03] amanganiello90 commented on #129
Today ImageBlob jdl type instead is saved

[2020-08-05 11:04] #156 closed

[2020-08-05 11:04] amanganiello90 commented on #156
Thanks for the feedback, the bug is been fixed!
![screen](https://user-images.githubusercontent.com/20536757/89405384-c193d000-d71b-11ea-8f78-09b99561ec3d.png)

[2020-08-10 13:38] amanganiello90 opened #158 "Vue.js support from 7.x jhipster upgrade"
From the 7.0 jhipster version (now the latest is the 6.10.1), it will be integrated the vue.js client.
So it is advisable to upgrade jhipster in order to integrate that feature and resolve #147 bug.
Besides, the vue.js client should be tested (entity generation, runtime, security with jwt and oidc) and it should be customized the home page for nhipster.
What do you think @mraible? Should we add a

[2020-08-10 14:34] mraible commented on #158
@amanganiello90 I added a $200 bounty.

[2020-08-10 14:36] amanganiello90 commented on #158
Great! As soon as the 7.0 jhipster version will be released, we could start this important feature.

[2020-08-11 05:36] mraible opened #159 "Unexpected logs when creating a new app using import-jdl"
**Describe the bug**

I tried creating a new app with the following JDL.

[code]

I'm using Node.js v14.7.0.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a `nodejs` directory and save the above JDL in `nodejs/app.jdl`
2. Run `nhipster import-jdl app.jdl`
3. See unexpected errors.

The first:

[code]

Why are there so many warnings?

The 2nd:

[code]

I already have 6.10.1 install

[2020-08-11 05:39] mraible commented on #159
When I try to run my Node.js backend, I get all kinds of errors.

[code]

I'll try re-generating without i18n.

[2020-08-11 05:43] mraible commented on #159
Doh! It fails when I remove the last 3 keys from the main configuration. New JDL:

[code]

Result:

[code]

[2020-08-11 05:46] mraible commented on #159
Just realized this happens because I didn't run `npm install`. I think the printed text should be improved to say:

[code]

[2020-08-11 05:55] mraible commented on #159
After getting it all up and running, I started Keycloak using Docker Compose. When I click **sign in** on the homepage, it results in the following error.

[code]

<img width="1712" alt="Screen Shot 2020-08-10 at 11 53 41 PM" src="https://user-images.githubusercontent.com/17892/89862300-e39ab180-db64-11ea-98d3-6da043078ac4.png">

[2020-08-11 07:12] amanganiello90 commented on #159
Hi @mraible , thanks for the feedbacks!
So the error for i18n, is due to the feature not implemented for nhipster (see #119 , @Aragonbn90 has the issue in progress).

The reason is that there are some mode to run the application with the scripts explained in README.
For the last, it seems an error of react client maybe for the previous wrong generation.

Please try these steps:
- Could you create

[2020-08-11 07:18] amanganiello90 commented on #159
Maybe I could replace this log with:

[2020-08-13 15:31] amanganiello90 commented on #159
Hi @mraible , I have improved the generator with i18n feature that fixes the error with your jdl.
Besides I have added also it in nhipster integration tests, so it's all ok!: https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/i18n-client/test-integration/samples/monolith-react-oauth2-i18n-jdl/monolith-react-oauth2-i18n-jdl.jdl

[2020-08-14 10:18] amanganiello90 commented on #59
![language](https://user-images.githubusercontent.com/20536757/90239680-38ba1a00-de28-11ea-8fa2-54673f2f15cb.png)

[2020-08-14 10:19] #59 closed

[2020-08-14 10:19] amanganiello90 commented on #45
Issue completed!

[2020-08-14 10:19] #45 closed

[2020-08-14 10:19] #159 closed

[2020-08-21 06:04] mraible commented on #101
Can't you use the same client testing tool that the main generator uses? I'm not sure why a backend framework would need to override this.

[2020-08-21 07:05] amanganiello90 commented on #101
Hi @mraible , yes in fact the the issue is to apply protractor also for backend. The added title ("or onother tool") is to keep open the investigation if there is another tool more performant for nodejs.

[2020-08-21 07:32] amanganiello90 commented on #119
Closed with #160

[2020-08-21 07:32] #119 closed

[2020-08-21 08:05] amanganiello90 opened #161 "Add npm/yarn install after running the generator for the server side"
As the client behaviour, it will be great to have the install of the server side dependencies after generator running.

[2020-08-29 19:56] jlopezjuy commented on #103
@amanganiello90  Hi, my name is Juan, im from Jujuy Argentina, I have a question with nhipster microservices, when i create a microservice this create user and roles, it's ok? on jhipster microservice this entities don't created. Could you help me?

[2020-08-29 21:15] amanganiello90 commented on #103
Hi @jlopezjuy,
thanks for the interest!
Yes, there are roles and users created according this [seed file](https://github.com/jhipster/jhipster-sample-app-nodejs/blob/v1.1.0/server/src/migrations/1570200490072-SeedUsersRoles.ts) as jhipster standard, executed in the microservice startup. However this issue is not the topic of your question.
Please add on [gitter](https://gitter.im/generator-jhipste

[2020-08-31 18:20] #113 closed

[2020-08-31 23:01] mraible commented on #129
@amanganiello90 Is this available in a released version of this blueprint?

[2020-09-01 05:58] A-5ingh opened #164 "Unexpected authorized access in security jwt with wrong username but correct password"
**Describe the bug**
After generating default Monolithic application using nhipster with frontend as either angular or react. We can login into application by using credentials without entering any username:
1. Username - (any string or blank), password - admin
2. Username - (any string or blank), password - user

**To Reproduce**
Steps to reproduce the behavior:

1. Generate monolithic applicatio

[2020-09-01 11:06] amanganiello90 commented on #164
Hi @A-5ingh , thanks for the interest!
have you ever tried with username "admin" and password "admin"?

[2020-09-01 11:59] amanganiello90 commented on #129
I don't know if the last release is ok, I have tested the latest commits

[2020-09-01 17:12] amanganiello90 commented on #164
Thanks! I have found the bug and fix that. You are welcome!

[2020-09-01 17:12] #164 closed

[2020-09-01 17:19] A-5ingh commented on #164
Thank you for the quick fix. Yes, I was able to login with any string as username (even empty, that will be another client validation failure bug). Only the password had to be correct (means of any account like admin/user etc).

[2020-09-01 17:29] amanganiello90 commented on #113
$200 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/24513

[2020-09-01 17:33] amanganiello90 commented on #164
Yeah @A-5ingh , it's very simple, the commit has the issue number as message 👍

[2020-09-01 18:58] jdubois commented on #52
Hey @amanganiello90 I just wanted to check if you did this bug bounty claim for this ticket: https://opencollective.com/generator-jhipster/expenses/24513 (I don't want anybody else claiming it)

[2020-09-01 21:01] amanganiello90 commented on #52
HI @jdubois, sorry the description is wrong,  the related issue is on the title (#113)

[2020-09-03 10:37] amanganiello90 commented on #129
$200 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/24650

[2020-09-03 10:41] amanganiello90 commented on #124
$100 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/24651

[2020-09-03 10:41] #124 closed

[2020-09-03 10:42] #129 closed

[2020-09-10 13:36] Shahid2130 opened #165 "Administrator module is not configured in nodejs like other jhipster project"
## Overview of the issue

## Motivation for or Use Case

## Reproduce the error

## Related issues

## Link to PR (if any)

## JHipster Version(s)

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-10 14:26] amanganiello90 commented on #165
Hi! thanks for the interest!
So the admin panel is been deleted as reportend by [this issue](https://github.com/jhipster/generator-jhipster-nodejs/issues/133).
The reason is that nodejs has not a VM to monitoring and there is supported a management for nodejs yet.

[2020-09-16 09:27] solidtechvn opened #166 "Support the account management with user registration, delete, creation and changes password with settings"
**Describe the bug**
Project generated return 401 status when register new user
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

-   OS: [e.g. iOS]
-   Browser [e.g. chrome, s

[2020-09-16 10:59] amanganiello90 commented on #166
HI! thanks for the interest!
Could you please add your .yo-rc.json file?

[2020-09-17 02:07] jlopezjuy commented on #103
I have the same error like Ajoy
`{
  "generator-jhipster": {
    "jhipsterVersion": "6.8.0",
    "applicationType": "gateway",
    "baseName": "gateway",
    "packageName": "com.jhipster.node",
    "packageFolder": "com/jhipster/node",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "cacheProvider": "no",
    "enableHibernateCache": false,
    "websocket": false,
    "databaseType":

[2020-09-17 04:02] solidtechvn commented on #166
@amanganiello90 Added

[2020-09-21 16:04] amanganiello90 commented on #166
Thanks, I checked your problem. Now the framework does not supports the registration of new users. So your issue is due that the user is not created. I will add it in the backlog.

[2020-09-24 17:00] skmaingi opened #167 "TS2304: Cannot find name 'Cheerio' in React app"
**Describe the bug**

'Cheerio' not found in node module script @types/enzyme/index.d.ts

**To Reproduce**
Steps to reproduce:

1) Install blueprint
`npm install -g generator-jhipster-nodejs`

2) Generate application
`jhipster --blueprints nodejs`

3) Install modules
`npm install`

4) Run/build application
`npm start` or
`npm run start:app` or
`npm run webpack:prod`

**Expected behavior**
Run / bu

[2020-09-25 09:54] amanganiello90 commented on #167
Hi @skmaingi , thanks for the interest!
In the your steps I don't read the npm install under server folder.
Please consider the (README..md)[https://github.com/jhipster/jhipster-sample-app-nodejs/blob/master/README.md#development].

However, I have an issue on the backlog to execute the install after generation #161

[2020-09-25 09:58] #165 closed

[2020-09-26 20:28] skmaingi commented on #167
Hi @amanganiello90 ,
Thank you for reply. This issue is affecting Frontend node modules

[2020-09-26 20:49] skmaingi opened #168 "OneToOne relationship server error: Missing property"
**Describe the bug**
Missing property error after creating entities with OneToOne relationship.

**To Reproduce**
Steps to reproduce the behavior:

1. Install blueprint

`npm install -g generator-jhipster-nodejs`

2. Generate application

`jhipster --blueprints nodejs`

3. Create Entities

**blog.jh**
[code]
`jhipster import-jdl blog.jh  --blueprints=nodejs`

4. Install modules
[code]
Run/build ap

[2020-09-27 15:13] ruddell commented on #167
This is related to an issue in the main generator, https://github.com/jhipster/generator-jhipster/issues/12593

[2020-09-28 14:40] amanganiello90 commented on #167
Thanks to @skmaingi and @ruddell, but after updating the dependency we have another error:

[code]
https://github.com/jhipster/generator-jhipster-nodejs/runs/1177065705#step:13:230

[2020-09-30 01:00] ecirilo opened #170 "Getting 404 in PROD - Accessing static Angular via URL in the browser"
**Describe the bug**
I'm getting 404 when I try to access Angular Routers directly from the browser or using Postman. Navigating via application it is working fine.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to browser or Postman
2. Write any valid application URL
4. See 404 - Not found

**Expected behavior**
It is expected to show the corresponding page associated with the given UR

[2020-09-30 07:23] amanganiello90 commented on #170
Hi, thanks for the interest!
I have some questions for you:
+ Could you add your yo-rc.json file?
+  How do you start the application? If you start only the client side, the localhost:8081 is not the default url (usually it is localhost:4200)

[2020-09-30 11:54] ecirilo commented on #170
Hi,

I have start the application locally, but as like in the production mode (client side served as static assets by the server side).

I found a workaround/solution as suggested in such a Stackoverflow question:
https://stackoverflow.com/questions/54838260/how-to-redirect-all-routes-to-index-html-angular-in-nest-js

I implemented the solution B) Global Error Filter. However, I'm not sure about w

[2020-09-30 13:30] amanganiello90 commented on #170
What is the npm task that you have performed?
Because if you run with **npm start** in the root folder of the generated project, it will be run angular client on localhost:4200 without nestjs server.

[2020-09-30 15:39] ecirilo commented on #170
Yes! I'm not running **npm start** in the project root folder.

I did as follow:
(i) built the app with **npm run build task**
(ii) copied the **dist folder** to another location in my local environment.
(iii) started the application running **npm start**

It is important to note that I'm observing the same error on the production environment as well. The application and all internal links are wor

[2020-09-30 16:28] amanganiello90 commented on #170
Ok, but it has not sense the npm start in an other folder with the static build files. The reason is that you don't have a web server for static resources with the npm start command (it is for building and serving on time source files).

[2020-09-30 19:36] ecirilo commented on #170
It seems that I'm missing some step. How do I have to proceed in order to deploy my app after run **npm run build task**? Which are the recommend steps. The cloud server that I'm using automatically starts NodeJS apps running **npm start**.

As I  mentioned ... these are the steps I'm following
(i) run npm build task
(ii) deploy the dist folder on the production environment (I have a package.json

[2020-10-01 12:36] amanganiello90 commented on #170
Hi @ecirilo ,
Do you want only to build and run the angular client? In this case after the **npm run build** you will have under dist folder only web resources (html, javascript, css compiled from angular app) that are used from a web server (tomcat, netty, nginx) or published (the content of the dist folder) with a service that host your web resources : https://code.makery.ch/library/html-css/par

[2020-10-03 17:43] solidtechvn commented on #167
I resolve this issue by add
"@types/cheerio": "^0.22.11"
 "@types/enzyme": "3.9.1",
like if it help you gúy

[2020-10-03 21:42] amanganiello90 commented on #167
@solidtechvn thanks, it works!

[2020-10-05 08:46] #168 closed

[2020-10-05 09:55] OmidPoorali commented on #103
i solved this NullPointerException problem by adding "homePageUrl" in instance object
in my case :

           instance: {
                hostName: ip.address(),
                instanceId: `${appName}:${serviceID}`,
                vipAddress: `${appName}`,
                app: `${appName.toUpperCase()}`,
                ipAddr: ip.address(),
                status: `UP`,
                port: {

[2020-10-05 10:35] #167 closed

[2020-10-05 10:39] amanganiello90 commented on #103
@OmidPoorali  Thanks for the suggestion! I have reported your fix on the https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/issue-103

Could you test it with a generation? Thanks

[2020-10-06 11:14] jlopezjuy commented on #103
Hi in my case i add status: 'UP',
[code]

[2020-10-06 11:16] amanganiello90 commented on #103
@jlopezjuy  yes, maybe status up is already the default (if not defined). But homePageUrl could be mandatory

[2020-10-06 11:16] jlopezjuy commented on #103
[code]

[2020-10-06 11:20] amanganiello90 commented on #103
@jlopezjuy  could you try a new generation using the branch https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/issue-103?
Please check if it works. Thanks

[2020-10-06 11:22] jlopezjuy commented on #103
ok, I'll chek.
off-topic question, did you use this configuration? "client.getInstancesByAppId"  to communicate directly every micro service?

[2020-10-06 11:24] amanganiello90 commented on #103
I don't know if it is used because the eureka features is done from a contributor that tested it. I haven't experience on that usage. So every contribution to improve that is welcome :) .

[2020-10-06 11:31] jlopezjuy commented on #103
ok, did you have npm command to install feature 103?

[2020-10-06 11:39] amanganiello90 commented on #103
Follow the steps to install locally the generator from the repository: https://github.com/jhipster/generator-jhipster-nodejs#-steps-to-develop-a-generator-feature-and-test-it

[2020-10-06 11:40] jlopezjuy commented on #103
great, tnks

[2020-10-06 11:48] jlopezjuy commented on #103
i have this error: @amanganiello90
[code]

[2020-10-06 12:06] amanganiello90 commented on #103
Hi @jlopezjuy , try to perform the following under generator-jhipster repository:

``
git checkout v6.8.0
``

[2020-10-06 12:17] amanganiello90 opened #173 "Update nhipster cli to use only its local jhipster version"
To avoid global version dependency cli with jhipster. Then it is no more required the jhipster global installation

[2020-10-06 14:20] jlopezjuy commented on #103
Here's the new main.ts using feature 103: @amanganiello90
[code]

[2020-10-06 16:50] amanganiello90 commented on #103
Thanks @jlopezjuy, but it works as your expectation?

[2020-10-06 20:33] jlopezjuy commented on #103
yes

[2020-10-07 07:41] amanganiello90 commented on #103
@jlopezjuy  thanks a lot! If you want to contribute or give any suggestions you are welcome! 💯

[2020-10-07 08:14] #103 closed

[2020-10-11 08:31] mayankgirdhar commented on #73
Is there any chance to get MongoDB support soon?

[2020-10-11 17:14] amanganiello90 commented on #73
Hi @mayankgirdhar, could you contribute?

[2020-10-11 17:20] mayankgirdhar commented on #73
Hello @amanganiello90 yes I am ready to do. It will be a good opportunity for me to contribute.

[2020-10-21 23:50] jlopezjuy opened #175 "Don't we need AuthGuard on AccountController?"
I have created a nre ms and i'm trying to register new user using swagger and i got 401 error.

[code]
i have removed @UseGuards(AuthGuard, RolesGuard) to register new account.

[2020-10-22 06:56] amanganiello90 commented on #175
Hi @jlopezjuy thanks for the interest!
I know how is the controller, and it is right, you do not have to remove the Authorization Guard annotation, because you have to pass the token in the request in order to manage a user. In the swagger UI before you have to call the login api that returns the token. After pass it in the Authorization header with "bearer .xxxyourTokenxxx".

Then remember that n

[2020-10-22 06:59] amanganiello90 commented on #170
If there aren't any questions I think that this ticket is completed. Feel free to open another issue for any questions or problems. Thanks.

[2020-10-22 06:59] #170 closed

[2020-10-23 18:44] #67 closed

[2020-10-23 18:52] amanganiello90 commented on #67
$300 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/26849

[2020-10-30 10:53] sabeurios opened #178 "Polyfilling node core modules when upgrade to Jhipster 6.10"
I have an existing project generated with jhipster 5.7 so I upgraded it to 6.10 and I transferred the existing files to the new directory and suddenly I had this polyfilling problem
<img width="743" alt="Screenshot 2020-10-29 at 09 19 28" src="https://user-images.githubusercontent.com/57177536/97696797-5f423580-1aa6-11eb-8602-8532721a679d.png">

I opened a subject in the webpack form but they dire

[2020-10-30 11:02] amanganiello90 commented on #178
Hi @sabeurios, thanks for the issue! But... it is not related to the NHipster :-) ...
The reasons are:

1. NHipster is not born with JHipster 5.7 but with [JHipster 6.3.0](https://github.com/jhipster/generator-jhipster-nodejs/blob/15fb40d7eea2ebc7308b81cf39ff5d707ef0145e/package.json#L35)
2. NHipster is the official JHipster blueprint that replaces java backend with nodejs backend. Your error is r

[2020-10-30 11:08] #178 closed

[2020-11-02 08:33] #161 closed

[2020-11-02 09:02] amanganiello90 commented on #161
$100 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/27298

[2020-11-03 23:22] BartEvers opened #180 "There will be validation, dto and NestJS 7 in next release?"
Hi,

Do you have any idea as to when the nest release will be? I am specifically interested in the following planned features:

-  DTOs based rest api
- Validation

Also, will you be using NestJS 7 any time soon?

Keep up the good work, Angelo & team!

[2020-11-04 08:16] amanganiello90 commented on #180
Hi @BartEvers,
thanks for the interest!
So...the validation it is already added in the entity classes(min, max, notNull and so on). But do you refers dto validations?

However, the [last release](https://github.com/jhipster/generator-jhipster-nodejs/releases/tag/v1.3.0) is been published few days ago, and there are other issues in the [kanban board](https://github.com/jhipster/generator-jhipster-n

[2020-11-04 08:19] amanganiello90 opened #181 "Dto implementation in the rest nestjs api"
We need to support data transfer object class layer in the nestjs controller.

[2020-11-04 08:22] amanganiello90 opened #182 "Add validation in dto nestjs controllers"
Add support to validate dto's fields: https://docs.nestjs.com/techniques/validation

[2020-11-04 08:25] amanganiello90 opened #183 "NestJS migration from 6 to 7 version"
Upgrade the nestjs framework from 6 to 7: https://docs.nestjs.com/migration-guide

[2020-11-04 08:27] amanganiello90 commented on #180
I have just created the issues related to your features:

- DTO: https://github.com/jhipster/generator-jhipster-nodejs/issues/181
- Validation: https://github.com/jhipster/generator-jhipster-nodejs/issues/182
- Nestjs 7 update: https://github.com/jhipster/generator-jhipster-nodejs/issues/183

You can comment those adding details or/and open new issues. Thanks

[2020-11-04 08:51] BartEvers commented on #183
So will you be implementing this, or are you suggesting to self upgrade after each generation?

[2020-11-04 08:53] BartEvers commented on #180
Thanks Angelo!

[2020-11-04 09:00] BartEvers commented on #180
Well, in the [roadmap](https://github.com/jhipster/generator-jhipster-nodejs/blob/main/ROADMAP.md) you have an open issue called **Validation**. I was wondering; is this point from the roadmap referring to validations in general of validations in DTO's?

[2020-11-04 09:03] amanganiello90 commented on #180
DTO's validation... the issue that I have just opened #182 explains that scope.

[2020-11-04 09:22] BartEvers commented on #180
Clear, thanks!

[2020-11-12 09:24] #183 closed

[2020-11-25 21:35] amanganiello90 commented on #166
Caused by #101, we need to perform user administration (create and delete user, change password, change settings with email). In this way the standard protractor e2e tests could be run (especially for react that have more tests then angular).

[2020-11-26 09:07] amanganiello90 opened #186 "Enable admin api button in the client side that routes to swagger nodejs"
The swagger ui for nodejs is enabled in the path **api/v2/api-docs/**. It would be nice to route it from the standard client jhipster admin client button (angular and react).

[2020-11-26 09:49] amanganiello90 opened #187 "Add automatic script to insert fake data after entity generation"
Provide a typeorm automatic inserting data in the startup after entity/jdl generation (in the same way for user management).

[2020-11-27 09:46] stefandekeijzer commented on #182
Do you have a timeline when this will be available?

[2020-11-27 09:54] amanganiello90 commented on #182
I don't know at the moment. I' m working on #101 and #106, and it is a lot of stuff.

[2020-11-30 18:48] amanganiello90 commented on #101
Hi @mraible . Finally I'm able to reach this feature. There is a lot of stuff done (I had to implement the user management api, fix nestJS routing with angular/react, run the e2e tests for admin and entities, create new tests and jobs for every combination in the pipelines).

Please check it. Every improvements and suggestions are welcome!

[2020-12-01 15:21] amanganiello90 commented on #181
In progress on [dto feature branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/dto-issue181)

[2020-12-01 15:38] #101 closed

[2020-12-01 15:38] #166 closed

[2020-12-01 18:14] amanganiello90 commented on #101
$200 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/28939

[2020-12-07 14:15] sandspirit2 opened #189 "cannot connect to postgresql"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

generate and application with this jdl (https://start.jhipster.tech/jdl-studio/#/view/608d075c-c06c-4f0e-8642-4920fbe85d64)
select react and postgresql and i can't seem to be able to connect to the postgres database even after fixing the configuratin and everything
here are

[2020-12-07 14:42] amanganiello90 commented on #189
Hi @sandspirit2 thanks for the interest!
So I do not unterstand very well your issue.

1) What elements do you have fixed?

2) It's correct? your username is postgres and your password admin? And do you have a postgres database in your localhost:5432 with database name "techincalq"?

3) You have to change only the url in the prod profile and not in the test profile:
[code]

[2020-12-07 15:06] sandspirit2 commented on #189
![image](https://user-images.githubusercontent.com/34859699/101367112-74349480-38ae-11eb-9d03-2a973c7303db.png)

[2020-12-07 15:15] amanganiello90 commented on #189
Have you run postgres with docker compose file under your **src/main/docker/postgresql.yml** file?
So the template is: https://github.com/jhipster/generator-jhipster-nodejs/blob/main/generators/server/templates/src/main/docker/postgresql.yml.ejs

That postgres has another username/password and you have to create the database before.

[2020-12-07 15:17] sandspirit2 commented on #189
yes that's the file and i changed the username and paswords and the database accordingly

[2020-12-07 15:21] amanganiello90 commented on #189
And with the connection string specified:
[code]

Can you connect with a postgres sql client tool?

[2020-12-07 15:27] sandspirit2 commented on #189
i can connect to the dockerized postgres using pgadmin but not using the application

[2020-12-07 15:30] amanganiello90 commented on #189
I check now generating a new app with the latest version. Stay turned 💯

[2020-12-07 15:35] sandspirit2 commented on #189
ok great thank you and yes i created a schema and same issue so if you can tell me the steps you would do to connect to postgres that would be really helpful

[2020-12-07 17:00] amanganiello90 commented on #189
So I have checked and it is all run. The steps that I perfomed are the followings:

1. I generated an application (named jhipster) without client, and choosing postgresql as database. Here the yo-rc.json file:

[code]

2. I changed the **src/main/docker/postgresql.yml env variables in:

[code]

So my user and password is named **jhipster**. In addition I have changed the external port in 5433 (on

[2020-12-07 17:02] sandspirit2 commented on #189
ok i will check again thank you very much

[2020-12-08 15:20] sandspirit2 commented on #189
hello i finally solved the problem i was using node v14.15 after i made nvm use v12.20 everything is working fine now thank you so much for your help

[2020-12-09 10:01] amanganiello90 commented on #189
Thanks you!!! Every questions or issues are welcome!

[2020-12-09 10:01] #189 closed

[2020-12-11 13:02] amanganiello90 commented on #182
The #181 is been completed, so I start this feature on [feature/dto-validation-issue182 branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/dto-validation-issue182)

[2020-12-14 09:04] #182 closed

[2020-12-20 17:25] JavierFuentes opened #193 "Bug: The module at index [3] of the AppModule "imports" array is undefined"
**Describe the bug**
I've imported the default sample from https://start.jhipster.tech/jdl-studio/ in a new NHipster project with default values for everything and PosgreSQL as production database.

When I execute `cd server && npm start` command, I've got this error:

[code]

I've noticed that in `server/src/app.module.ts` file I've got this bug with an additional comma after _AuthModule_:

[code

[2020-12-21 09:21] amanganiello90 commented on #193
Hi @JavierFuentes,
thanks for the issue!
So I have tried to replicated it.

I first generated the application according your yo-rc.json, and after run import-jdl with your model (always with --skipInstall).
Finally my app.module is:

[code]

[2020-12-21 16:11] amanganiello90 commented on #180
Done with 1.4.0 release.

[2020-12-21 16:11] #180 closed

[2020-12-21 16:12] amanganiello90 commented on #175
Resolved and implemented admin api in 1.4.0 release. Thanks

[2020-12-21 16:12] #175 closed

[2020-12-21 16:24] JavierFuentes commented on #193
Hi @amanganiello90,
Hmmm... it's strange... I tried for 3 times with clean and fresh projects with the same Issue until I discovered where was the problem...

It's true I executed yesterday _JHipster Information Sub-Generator_ after I'd solved all the problems... I don't know if it was an error or not...

Have you tested to download .JDL file from https://start.jhipster.tech/jdl-studio too?

[2020-12-21 16:26] amanganiello90 commented on #193
If I click on https://start.jhipster.tech/jdl-studio I see my jdl and not yours, because it enters with own account :)... So I have used the jdl that you have linked in the issue.

[2020-12-21 16:52] JavierFuentes commented on #193
Ok, can you access in a private tab o with other browser yo see default-sample this Page shows to everybody without an account like me?

[2020-12-22 07:53] amanganiello90 commented on #193
The jdl-studio save jdl model diagram per account, so if you click on the link you see your model while in my case I can view my model. However I have used the model that you have linked in the description of the issue:

[code]

[2020-12-28 15:13] hmarchadour opened #194 "Cannot set a value to a OneToOne relation"
**Describe the bug**

A OneToOne relation produces a not editable field in entity UX.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ```http://localhost:9000/login``` login with ```admin/admin```
2. Go to ```http://localhost:9000/b``` Create B
3. Go to ```http://localhost:9000/a``` Create A with a relation to the previous b
4. **There is a A entity in result without the expected rela

[2020-12-28 18:12] hmarchadour opened #195 "A relation OneToOne from a custom entity to the User entity together other OneToMany relationships throw an error"
**Describe the bug**
As soon as an entity "bind" the **User** entity thanks to a OneToOne relation, all OneToMany relation are generated without the **other** annotation property.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate thanks to the JDL
2. try to build :
[code]

in ./server/src/domain/a.entity.ts
[code]

**Expected behavior**
in ./server/src/domain/a.entity.ts
[code]
**Scr

[2020-12-28 18:37] hmarchadour commented on #194
A workaround :
Use OneToMany and don't use injected fields.
[code]

[2020-12-29 08:23] amanganiello90 commented on #194
Hi @hmarchadour, thanks for the feedback!
So it's right that you cannot edit the field, due that a one to one relationship from a custom entity to the User entity, linked your field with its primary key that is an id autogenerated (therefore not editable). Instead if you change the relationship witn a OneToMany, you can choose a field that it isn't a primary key.

[2020-12-29 08:25] amanganiello90 commented on #193
I close this issue because it does not seems a bug, as explained.

[2020-12-29 08:25] #193 closed

[2020-12-29 09:22] amanganiello90 commented on #195
I have tried to replicate your issue with my jdl on https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/user-onetomany-issue195/test-integration/samples/microservice-oauth2-jdl/microservice-oauth2-jdl.jdl .

So I have a lot of OneToMany relationship and a OneToOne for the **ShopUser** and **User* entity.
But I haven't compilation error: https://github.com/jhipster/generator-jhipster

[2020-12-29 11:50] hmarchadour commented on #195
Thanks for your feedback. Interesting... Have you any diff in node/yeoman...?

[2020-12-29 11:55] hmarchadour commented on #195
This is a generation behavior, I think to the yeoman release. I will try with https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/user-onetomany-issue195/test-integration/samples/microservice-oauth2-jdl/microservice-oauth2-jdl.jdl ;)

[2020-12-29 12:02] amanganiello90 commented on #195
Thanks!

[2020-12-29 12:18] hmarchadour commented on #195
If I'm right, I don't find any relation OneToMany from ShopUser to another entity in https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/user-onetomany-issue195/test-integration/samples/microservice-oauth2-jdl/microservice-oauth2-jdl.jdl

[code]

To test my use case, I add a meaningless relation from **ShopUser** to **Product** :
[code]

After a
1. ```nhipster import-jdl ./test.jh -

[2020-12-29 12:20] hmarchadour commented on #195
server/src/domain/shop-user.entity.ts
[code]
[code]

[2020-12-29 12:21] hmarchadour commented on #195
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "authenticationType": "jwt",
    "cacheProvider": "no",
    "clientFramework": "react",
    "serverPort": "8081",
    "serviceDiscoveryType": false,
    "skipUserManagement": false,
    "baseN

[2020-12-29 13:35] amanganiello90 commented on #195
Yes, thanks for the feedback, I have performed the fix!!

- Integration test run: https://github.com/jhipster/generator-jhipster-nodejs/runs/1621822863
-  Commit for fix: https://github.com/jhipster/generator-jhipster-nodejs/commit/7815633fd04bb11ebbf6dfae5680f8bc6851dcf2

[2020-12-29 14:07] hmarchadour commented on #195
Note: the only way that I've found to deal with an user relation :
[code]

[2020-12-29 14:11] amanganiello90 commented on #195
Yes, the bug was only in the OneToMany

[2020-12-29 15:23] #195 closed

[2021-01-04 10:22] amanganiello90 commented on #194
The ticket can be considered resolved. So I close it. Thanks in advice for every question and contribution.

[2021-01-04 10:22] #194 closed

[2021-01-05 09:17] amanganiello90 commented on #73
Feature started on [feature/issue73-mongo branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/issue73-mongo).
We can consider for development the [mongodb-memory-server](https://earrieta.dev/mocking-our-mongodb-while-testing-in-nestjs-ck1a316df00izjfs1adaw9li6)

[2021-01-06 13:46] ifelse-codes commented on #193
@JavierFuentes
I have a fresh install of jhipster and nhipster , I am running it to the same issue you reported here ..

can you please help me with the steps to solve this

[2021-01-06 14:05] JavierFuentes commented on #193
Hi @ifelse-codes,
check if you have an an additional comma (added automatically) after **AuthModule** in `server/src/app.module.ts` file.

See my [screenshot above](https://user-images.githubusercontent.com/5801847/102719518-e9608a80-42ee-11eb-8f94-641e3e00b217.png):

[2021-01-06 14:13] ifelse-codes commented on #193
Yes, I removed the comma and solved it ... any other way by upgrading to any specific build

[2021-01-07 08:23] amanganiello90 commented on #193
Hi @ifelse-codes, I don't know how you have this issue, because the previous steps (also performed in a github action pipeline) do not present that.

[2021-01-08 15:24] amanganiello90 commented on #73
There are some problems with the relationship. I have opened an issue to ask more: https://github.com/typeorm/typeorm/issues/7258

[2021-01-08 16:25] amanganiello90 opened #198 "Integration test for all database docker instance as prod running"
We have to test all database docker instance as prod running. The yo-rc.json will be profiled in the **prodDatabaseType** during the pipeline, to enabled **mssql, mysql and postgresql values**.

[2021-01-16 13:31] JavierFuentes opened #199 "Try to reduce NHipster per project disk size (actually around 800MB)"
**Is your feature request related to a problem? Please describe.**
I think, a new clean project disk size in nHipster is too big (around 800MB)...

I've seen that:
_./myProject/node_modules_ folder has a disk size around 500MB.
_./myProject/server/node_modules_ folder has a disk size around 200MB again...

Additionally, **my global nodejs node_modules folder** has a disk size around 250MB more...

[2021-01-16 13:50] JavierFuentes opened #200 "Share model Interfaces between client and server to ensure consistency"
**Is your feature request related to a problem? Please describe.**
I wonder if it would be possible that in nHipster projects the Interfaces of the models could be defined following the DRY principle and in such a way that they can be applied to both the Client and Server Classes to guarantee at all times the coherence between both layers of the application.

**Describe the solution you'd like**
S

[2021-01-16 13:52] amanganiello90 commented on #199
Hi @JavierFuentes  thanks for the question.
So, I can tell you that there is a reason as I have designed NHipster with two node_modules (and not only one that includes all libraries).
NHipster allows you to generate an app with server and/or client side. The two layer are indipendent, so you might generate only one or both. Besides the first **node_modules** is inherited by jhipster client generat

[2021-01-16 13:56] amanganiello90 commented on #199
However, after the build for the client side (or server of you choose prod build), you can run the entire application without using the two node_modules. Please read the README.md and server/README.md generated after NHipster running.

[2021-01-16 14:00] amanganiello90 commented on #200
Ho @JavierFuentes, as I said on the #199, the client and the server sides are indipendent from each other, for the simple reason that the client is inherited by jhipster main generator, while the backend is generated by NHipster.

[2021-01-18 11:21] amanganiello90 commented on #73
I will work on this feature without supporting relationship. So if in the jdl model or entity generation there is a relationship declaration, the generator will raise an error and stops it

[2021-01-18 22:35] Toysurusse opened #201 "Nhipster blob entity generator issue front angular"
##### **Overview of the issue**
How to fix Blob front Angular view issue ?

##### **Motivation for or Use Case**
When you use nhipster entity generator with an angular front. Angular can't render the image of the blob after beeing storage in database.

##### **Reproduce the error**
use nhipster entity generator and you will have issue to view blob from backend.

##### **Suggest a Fix**
when the se

[2021-01-18 22:35] avdev4j commented on #201
@amanganiello90 I have moved this ticket to the proper repository ;)

[2021-01-19 08:24] amanganiello90 commented on #201
Thanks.

[2021-01-19 09:37] amanganiello90 commented on #200
If there are other questions, I consider close this ticket. However, feel you free to comment or open other issues. You are welcome!

[2021-01-19 09:37] #200 closed

[2021-01-19 09:37] amanganiello90 commented on #199
If there aren't other questions, I consider close this ticket. However, feel you free to comment or open other issues. You are welcome!

[2021-01-19 09:37] #199 closed

[2021-01-19 11:03] #198 closed

[2021-01-27 20:12] jlopezjuy commented on #201
I have same error, because nest with typeor get the blob file from database on BUFFER type. and this sugested fix only work on determinates files. im using files.

@Column({ type: 'blob', name: 'documento', nullable: true })
  documento: any;

  @Column({ name: 'documento_content_type', nullable: true })
  documentoContentType: string;

  on mi service:

const blob = gestion.documento.toString('he

[2021-01-28 08:02] amanganiello90 commented on #201
@jlopezjuy thanks for the response, but I don't understand very well your message. You are saying, that the fix suggested do not resolve the angular blob issue?

[2021-01-28 10:43] jlopezjuy commented on #201
yes, if i use blop to sabe pdf or other file type, the solution not work.

[2021-01-28 10:45] amanganiello90 commented on #201
But @Toysurusse  suggests that fix resolved the blob issue. So I don't understand :(

[2021-01-28 10:47] jlopezjuy commented on #201
maybe the solution work only with images... not with files...

[2021-01-28 10:48] amanganiello90 commented on #201
Ahh ok, you say that if the blob is an image the fix works, instead if the blob is a generic file (for example a .txt) it does not work. Right?

[2021-01-28 10:49] jlopezjuy commented on #201
yes

[2021-01-28 10:50] jlopezjuy commented on #201
i was tested with diferent pdf and other files.

[2021-01-28 10:51] amanganiello90 commented on #201
@jlopezjuy  thanks. Have you some suggestions to fix in order to work with every blob type?

[2021-01-28 10:53] jlopezjuy commented on #201
On java jhipster app this work ok because spring return blob into base64, typorm return Buffer... maybe thats is the problem...

mmm not yet, I keep trying to solve the bug, because I need a project that works with pdf

[2021-02-24 11:39] #73 closed

[2021-02-24 15:44] #186 closed

[2021-02-26 09:01] amanganiello90 commented on #104
@mraible I'm trying to customize [ci-cd subgenerator](https://github.com/jhipster/generator-jhipster-nodejs/blob/feature/ci-issue-104/generators/ci-cd/index.js), but I note that the jhipster ci-cd index.js file extends the [generator-base](https://github.com/jhipster/generator-jhipster/blob/ae893d0f6e53d648641d96ced0ab0f6058fbe29e/generators/ci-cd/index.js#L29), and not the generator-blueprint-bas

[2021-03-01 14:31] amanganiello90 commented on #104
The development is stopped because we need before to update to jhipster 7

[2021-03-17 03:10] dancancro opened #206 "Rename NODE_ENV in BACKEND_ENV with better usage documentation"
**Describe the bug**
When attempting to start the server of a brand new application, server fails to start because NODE_ENV is not set to "dev", "test" or "prod"

**To Reproduce**
Generate a new application.
Set `NODE_ENV` manually on the command line by typing `NODE_ENV=elephant`
Try to start the backend server with `npm run start`
Get this error
[code]
Set `NODE_ENV` to `dev` by typing `NODE_ENV

[2021-03-17 08:21] amanganiello90 commented on #206
Thanks for the interest. However is correct to have only three values for NODE_ENV (dev, prod and test).
The error is implemented ad hoc for that. Besides, if you run **npm run start:prod** the NODE_ENV is no set, the command is for other things. Please read project README.md  (under root project and under server folder). Thanks

[2021-03-17 16:56] dancancro commented on #206
@amanganiello90 Thank you. I had not seen the file `jhipster-sample-app-nodejs/blob/v1.4.0/server/README.md`.

I would like to provide some feedback as someone who just saw this project for the first time yesterday. I am accustomed to finding all instructions in the [top level README.md](https://github.com/jhipster/jhipster-sample-app-nodejs). So it is foreign to me for usage instructions to be so

[2021-03-17 17:15] amanganiello90 commented on #206
Hi @dancancro, I will answer every your doubts:
1- There is a reference for the server/README.md in the top level README project -> https://github.com/jhipster/jhipster-sample-app-nodejs#building
2- You are confusing about the sense of the **npm run start:prod**. It performs a run of an already javascript server build, but the default environment (NODE_ENV) is dev. So it runs for example with a sq

[2021-03-17 18:42] dancancro commented on #206
I am referring to the top level readme of generator-jhipster-nodejs.

This one: https://github.com/jhipster/generator-jhipster-nodejs
not this one: https://github.com/jhipster/jhipster-sample-app-nodejs

Thank you for clarifying the use of NODE_ENV for setting which database is used.

This seems to muddy the meaning of `NODE_ENV`. "ENV" is short for "environment". An environment is a totality of c

[2021-03-18 08:15] amanganiello90 commented on #206
I try to give you clear information:

1. There isn't sense to explain on the top level of generator-jhipster-nodejs readme what are the build information for the app generated  (it is the README generator, where you read information about run of the generator). Therefore you generate the app, and then on the README generated you read all the information about the app generated (build, dts, run and

[2021-03-18 20:43] wurst44 opened #207 "DataTypeNotSupportedError: Data type "blob" in "Post.content" is not supported by "postgres" database."
when I try to run my prod build `node server/dist/main.js` or `npm run test:e2e` I am getting this error:

[code]

[code]

[code]
any idea? thx

[2021-03-18 20:52] amanganiello90 commented on #207
Ho @wurst44  thanks for the interest!
Well, NHipster uses for entity generation the TypeORM library, and seems that for postgres blob type is not supported: https://github.com/typeorm/typeorm/blob/master/docs/entities.md#column-types-for-postgres

[2021-03-19 13:44] #206 closed

[2021-03-19 14:22] amanganiello90 commented on #206
Hi @dancancro,
I have improved the documentation and renamed NODE_ENV in BACKEND_ENV.
It has been published the new 1.5.0 generator version with that and other features that you can read on [Release CHANGELOG](https://github.com/jhipster/generator-jhipster-nodejs/releases/tag/v1.5.0).
For the new app documentation you can refers to the generated example [server README](https://github.com/jhipster/

[2021-03-20 12:43] wurst44 commented on #207
yes the problem was JDL `TextBlob`.
thx, keep on ;)

[2021-03-20 12:43] #207 closed

[2021-03-24 20:43] wurst44 opened #209 "Support entitySuffix generation"
I use the JDL `entitySuffix` "**NA**" (NodeAngular). When using it, the DTOs do not match?

generator-jhipster@6.10.5
generator-jhipster-nodejs@1.4.0

[code]

[code]

thx guys, like

[2021-03-25 10:47] amanganiello90 commented on #209
Hi @wurst44, thanks for the interest!
In this moment we have not tested the entitySuffix feature, so we have to add the support.

[2021-03-26 11:10] wurst44 opened #210 "Does node NestJS server with client (angular, react or vue) work?"
Just curious, does node + react / node + vue work?
Setup is the same as in: https://github.com/jhipster/generator-jhipster-nodejs/issues/209
Except,

node + react:
[code]

AND

node + vue:
[code]

thx for the great work!!

[2021-03-26 11:14] amanganiello90 commented on #210
Hi @wurst44 ,
thanks for the interest!
I'm now working for vue support (after migrating to the jhipster 7.0.0) on [vuejs branch](https://github.com/jhipster/generator-jhipster-nodejs/tree/feature/vue-issue158).
For react I have not understood what generation you have performed.
However, wait for the next nhipster 2.0.0-beta.1 version, that will have the previous branch merged (as explained in #158

[2021-03-28 21:09] capioc opened #212 "TypeORM future?"
Considering the state of TypeORM project, the development of which is almost dead, what is its future regarding nHipster?

Is it still considered stable and production ready?

Thank you

[2021-03-29 07:12] amanganiello90 commented on #212
Hi @capioc,
Thanks for the interest!
TypeORM is a framework to support ORM for database in NHipster, but it is not the entire app.
NHipster is based on [NestJS](https://nestjs.com/), and for the database now typeorm support all db types without any problems (https://github.com/typeorm/typeorm/blob/master/docs/entities.md#entities).

So it is not a problem that typeORM is already dead. Besides we a

[2021-03-29 07:26] capioc commented on #212
Hi @amanganiello90 , thanks for the prompt reply!

I know that NHipster is so much more than TypeORM, but it's such a crucial part of its architecture. I am not implying that NHipster is going to die.

I was just beginning a new project and after using JHipster at work I really wanted to give NHipster a try. However, I saw that TypeORM having so many open issues and a discussion that its maintenan

[2021-03-29 07:29] amanganiello90 commented on #212
At this moment the typeORM usage in NHipster covers all the features (sql, relationship and mongodb). So for now there aren't problems in NHipster for its. Maybe in future if it is necessart, we could be evaluate another solution, but now I don't know.

[2021-03-29 07:32] capioc commented on #212
Alright thank you very much!

I will start my project with NHipster and I will report back if any issue arise

[2021-03-29 07:34] amanganiello90 commented on #212
For nodejs there are these other following ORM project used in nodejs development:
- sequelize
- bookshelf
- waterline
- objection

Nothing have the db support as TypeORM (it supports al lot of database with robust relationship mapping).

If you could suggest any other solutions, it will be great.
Thanks.

[2021-03-30 04:49] jyotivarade opened #213 "how to create nhipster project using docker"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2021-03-30 04:51] #213 closed

[2021-03-30 04:51] jyotivarade commented on #213
-

[2021-03-30 08:31] glutengo opened #214 "GraphQL support"
## Overview of the issue
Picking up from https://github.com/jhipster/generator-jhipster/issues/4251#issuecomment-778784595

I have decided to work on a GraphQL integration for nhipster in my master's thesis. I will start to work on this soon and I would like to hear the opinion of the developer team regarding the best approach on how to integrate my work in the jhipster ecosystem.

My initial idea

[2021-03-30 08:52] amanganiello90 commented on #214
Hi @glutengo , it's wonderful!
My opinion is to fork this blueprint and integrate the GraphQL support (merging with a PR).
The reason is that we already prompt a question for the database type, and you can add your graphql option.
Besides, NHipster uses [TypeORM](https://typeorm.io/#/) that easy could add [graphQL support](https://blog.logrocket.com/how-build-graphql-api-typegraphql-typeorm/) and

[2021-03-30 09:10] glutengo commented on #214
Hi @amanganiello90 thank you so much for your quick reply and thank your for all the pointers!

I have worked with NestJS and TypeORM in the past and the docs have their own graphQL section: https://docs.nestjs.com/graphql/quick-start

As far as I understand, using GraphQL would not be an alternative to using a certain database (type) like mysql or mongodb but it would rather be an alternative/add

[2021-03-30 09:26] amanganiello90 commented on #214
Yes, the link section of NestJS that I have added in my comment is the same yours :)

However, when you customized the entity model template, you can define your service called from the controlled rest api, so in my opinion when the user chooces the graphQL database automatically he will use your custom services and models (and you could add new questions after graphQL choice if there are other cu

[2021-03-30 09:54] amanganiello90 commented on #214
@glutengo yes you are right, maybe it's more correct to add another question to chooce graphQL support in [server subgenerator prompt](https://github.com/jhipster/generator-jhipster-nodejs/blob/main/generators/server/prompts.js) because it enables api that you can use with all database types (sqlite, sql and so on). However you will have customized templates for entity model, service and controlle

[2021-03-30 09:58] glutengo commented on #214
@amanganiello90 I agree and thanks for pointing out the existing jhipster module, that seems to be brand new and I had not seen that yet!

I was already typing and trying to make my case for not using the databaseType field but your latest comment shows we are on the same page now :)

[2021-03-30 10:00] amanganiello90 commented on #214
@glutengo you rock !!! 💯  ;)

[2021-03-31 17:09] #147 closed

[2021-03-31 17:09] #158 closed

[2021-04-01 10:55] amanganiello90 commented on #158
$200 bug bounty claim: https://opencollective.com/generator-jhipster/expenses/37428

[2021-04-03 16:16] rhengles opened #215 "Update class-validator to 0.13.1 to fix "matches" (regexp validator modifiers)"
**Describe the bug**
I created a .jdl file and used the "pattern()" validator in some entities properties, example:
[code]
When running the project I get this error:
[code]
[This is the issue](https://github.com/typestack/class-validator/issues/626) and [this is the pull request](https://github.com/typestack/class-validator/pull/642) about this issue.

**To Reproduce**
Steps to reproduce the behav

[2021-04-04 20:35] amanganiello90 commented on #215
@rhengles thanks for the feedback.
I have fixed it and updated the test integration jdl model according the field pattern.

[2021-04-05 20:59] #215 closed

[2021-04-06 14:25] amanganiello90 commented on #210
I hope that my explanation is been clear. So I consider this question/issue resolved.

[2021-04-06 14:25] #210 closed

[2021-04-06 14:25] amanganiello90 commented on #212
I hope that my explanation is been clear. So I consider this question/issue resolved.

[2021-04-06 14:25] #212 closed

[2021-04-06 14:37] amanganiello90 opened #218 "Nhipster 2.0.0-beta.1 release"
This is a placeholder ticket to remember the first 2.0.0-beta.1 NHipster release.

Could someone (@jdubois, @pascalgrimaud or @deepu105) create e new example repo named **jhipster-sample-app-nodejs-vuejs** in way that I can push the new app? Thanks

[2021-04-06 15:30] deepu105 commented on #218
done

[2021-04-08 09:18] amanganiello90 commented on #218
Thanks.
- Released: https://www.npmjs.com/package/generator-jhipster-nodejs/v/2.0.0-beta.1
- Added new vuejs app: https://github.com/jhipster/jhipster-sample-app-nodejs-vuejs/tree/v2.0.0-beta.1
- Updated: https://github.com/jhipster/jhipster-sample-app-nodejs/tree/v2.0.0-beta.1
- Updated: https://github.com/jhipster/jhipster-sample-app-nodejs-oauth2/tree/v2.0.0-beta.1

[2021-04-08 09:18] #218 closed

[2021-04-12 16:54] pwujek opened #219 "Entity name duplicated into app.module.ts imports every time entity updated"
**Describe the bug**
Entity name duplicated into app.module.ts imports every time entity updated, the name can appear several times.

**To Reproduce**
1. nHipster entity myEntity -> regenerate
2. look at server/src/app.module.ts

**Expected behavior**
Existing entity names should not be duplicated in import.

**Screenshots**
![image](https://user-images.githubusercontent.com/1900015/114427548-2e07

[2021-04-13 07:03] amanganiello90 commented on #219
Hi @pwujek , thanks for the issue!
Have you used the last 2.0.0-beta.1 nhipster version?

[2021-04-13 11:30] pwujek commented on #219
I have not tried the beta, I'll give it a shot and post any issues I discover.

[2021-04-13 12:23] pwujek opened #220 "Dates: Type 'Moment' is not assignable to type 'Date'."
**Description**
Generated date fields cause compile errors.

**To Reproduce**
1. Generate a new entity or update an existing entity
2. Add  a LocalDate or ZonedDateTime field
3. complete the generation

**Expected behavior**
A clean compile/build should take place.

**Screenshots**
![image](https://user-images.githubusercontent.com/1900015/114550437-32d33d80-9c30-11eb-9bc7-1e953cf8e885.png)

**Des

[2021-04-13 12:24] amanganiello90 commented on #220
Please use the nhipster 2.0.0-beta.1 version, that was a bug of old jhipster platform.

[2021-04-13 12:26] amanganiello90 commented on #219
Try with 2.0.0-beta.1 version, and check if there is the same issue.

[2021-04-13 12:42] pwujek commented on #220
Still getting errors on dates.
package.json:
![image](https://user-images.githubusercontent.com/1900015/114553878-1a652200-9c34-11eb-84fe-2f27e2e56a2f.png)

[2021-04-13 12:52] pwujek commented on #219
Issue is resolved in the beta.

[2021-04-13 13:03] amanganiello90 commented on #219
No, I have found the same error, so the PR could fix it

[2021-04-13 13:05] amanganiello90 commented on #220
It does not seem that you are using the 2.0.0-beta.1 nhipster, because it has jhipster 7.0.0 and not jhipster 6.8.0

[2021-04-13 13:08] pwujek commented on #220
This was installed via:
[code]
Is a separate upgrade of jHipster required?

[2021-04-13 13:10] amanganiello90 commented on #220
Yes, you have to install with:
[code]

[2021-04-13 13:11] pwujek commented on #220
I did that originally at the top level, but the project setting seemed to override it, so I installed in the project as well.

[2021-04-13 13:18] amanganiello90 commented on #220
My Advice:
1- Install globally nhipster last version
2- Deleta your project
3- Generate as well with your jdl model
4- Check the issue.

Thanks

[2021-04-15 17:59] #219 closed

[2021-04-27 07:28] wurst44 commented on #210
thank you for explanation and your effort.
Am I correct that this is in code review now?

[2021-04-27 07:31] amanganiello90 commented on #210
Hi @wurst44 , you can try with the new 2.0.0-beta.1 version. It works in the test integration pipeline

[2021-05-06 18:40] pwujek opened #223 "Question: Input actions synchronize between 2 different browser windows for client app, when run npm start and start:app scripts"
## Overview of the issue
This is a very weird issue, I would be surprised if you have encountered this. Originally I thought this was caused by some Linux Gtk library issue, but now we know that it occurs in Windows as well.

If I have my app open in > 1 browser windows inputs can synchronize between the windows, even if some are Firefox and others are Chrome. They can be any mixture of Chrome and

[2021-05-07 07:36] amanganiello90 commented on #223
Hi @pwujek, thanks for the issue.
However, your issue it's very strange, and I don't believe that it is related to the application. Maybe it's a browser issue

[2021-05-07 07:57] amanganiello90 commented on #223
However, please use the latest 2.0.0-beta.1 nhipster version, and read carefully the development section: https://github.com/jhipster/jhipster-sample-app-nodejs/blob/main/README.md#development

It is explained in the statement **Run the following commands in two separate terminals to create a blissful development experience where your browser auto-refreshes**

[2021-05-07 12:31] pwujek commented on #223
Thank you for your help.

The suggested changes did not stop the synchronization, but in this test the input fields and dropdown were not sync'd.

https://user-images.githubusercontent.com/1900015/117449811-65f6ad00-af0e-11eb-96cd-2ad1805c146f.mp4

[2021-05-07 12:31] #223 closed

[2021-05-10 04:59] TRIGGEREDcoder opened #224 "Entity name duplicated into app.module.ts imports with additional comma every time entity updated"
**Describe the bug**
Entity name duplicated into app.module.ts imports every time entity updated, the name can appear several times.

**To Reproduce**
nHipster entity myEntity -> regenerate
look at server/src/app.module.ts

**Expected behavior**
Existing entity names should not be duplicated in import.

**Screenshots**
![image](https://user-images.githubusercontent.com/43340158/117607515-c3426680-

[2021-05-10 05:14] TRIGGEREDcoder opened #225 "Not able to create entity with one-to-many relationship if the other entity is not present"
**Describe the bug**
When trying to create a new entity with one-to-many relationship with an entity which is yet to be created, it gives the error _ERROR! Error looking for otherEntity otherEntityName_

**To Reproduce**
nHipster entity myEntity
when prompted below questions,
? Do you want to add a relationship to another entity? Yes
? What is the name of the other entity? Address
? What is the na

[2021-05-10 08:08] amanganiello90 commented on #224
duplicated of #219. Use the main branch code or wait for the next release. Thanks

[2021-05-10 08:08] #224 closed

[2021-05-10 08:09] amanganiello90 commented on #225
Thanks for the issue. I will investigate on it.

[2021-05-10 08:24] TRIGGEREDcoder commented on #224
Yes, this issue has been raised previously as well and it was closed. So I raised it again as the same issue I was facing even after beta version installation for nhipster. Will wait for the next release.

Thanks.

[2021-05-12 12:41] #220 closed

[2021-05-12 14:00] pwujek opened #227 "v2.0.0-beta.1 - fails to npm install command"
**Describe the bug**
`npm install` step in app generation fails with errors in initial build of very simple React/MySQL app.

**To Reproduce**
[code]

**Expected behavior**
It should generate an app without errors

**Desktop (please complete the following information):**
-   OS: Ubuntu 20.10

**NHipster configuration**
see output above

[2021-05-12 14:06] amanganiello90 commented on #227
HI @pwujek , thanks for the issue. It seems that you have problem with the npm install of the server folder, the generation is ok.

[2021-05-12 14:18] pwujek commented on #227
`npm install` at root.

[code]

`npm install` in server:

[code]

[2021-05-12 14:21] amanganiello90 commented on #227
I think that your nodejs version is incompatible. Please install node 10 and check it.

[2021-05-12 14:34] pwujek commented on #227
Can you please add this requirement to the README.md?

These are my currently installed versions.

[code]

[2021-05-12 14:36] amanganiello90 commented on #227
It is your dirty nodejs environment. It does not exist a version requirement. Besides in test integration pipeline is used your v14.16.0 version : https://github.com/jhipster/generator-jhipster-nodejs/blob/eb0e62b1d362bb3e98f307137bf9c6c31cdace25/.github/workflows/test-integration-angular.yml#L12

[2021-05-12 14:43] pwujek commented on #227
I ran this test because I encountered problems trying to do a production build, can you please explain how a node environment gets 'dirty'?

[2021-05-12 14:55] amanganiello90 commented on #227
Sometimes npm caches packages causing errors for next npm command. Try to clean cache or reinstall nodejs:

- https://reactgo.com/npm-clear-cache/

[2021-05-12 15:13] pwujek commented on #227
Thank-you.

Changing to the down-level version worked. I will now have to try re-building my main project again.

Installing node 12.18.2 wiped out previous npm caches and global node_modules, even requiring a reinstall of nHipster.

[2021-05-12 15:15] amanganiello90 commented on #227
Thank you for chat contribution! You are welcome!

So I consider resolved this ticket and close it.

[2021-05-12 15:15] #227 closed

[2021-05-20 14:09] dmj619 opened #228 "HTTPS Default Profile"
It will be usefull to gets an default profile with an ssl.

[2021-05-20 14:12] amanganiello90 commented on #228
HI @dmj619 thanks for the feedback!
I don't understand your issue, If you deploy your app on a server using https, there are problems?

[2021-05-28 08:35] glutengo opened #230 "Support JHipster primary key type"
**Describe the bug**
The problem is, that the frontend (and maybe some other places too) respect the `pkType` setting whilst for the NestJS Backend, this configuration option is ignored. The type is hardcoded in base.entity.ts (among others). As the default value for `pkType` seems to be `number` for databases like MySQL (see https://github.com/jhipster/generator-jhipster/blob/f12952fc9e0bcfa77052

[2021-05-28 09:29] amanganiello90 commented on #230
Thanks for the contributing!
So, I defined the pkType as string and not customizable for nestjs simple use cases, it does not use, for example, the filter features. Besides this generator has been created from a old jhipster 6.x version.

Therefore, I am very happy for your PR!

[2021-05-28 13:52] #230 closed

[2021-05-28 13:52] amanganiello90 commented on #230
Well done! Thanks for the contribution!

[2021-05-31 09:01] glutengo opened #232 "Remove in query user api the unencrypted password exposed"
**Describe the bug**
At numerous places in the application, the value of the password property of the user entity are delivered in plain text. This affects (incomplete):
- GET /api/admin/users
- GET /api/account

The password should not be readable to anyone, not even the admin. The password should be at least encrypted, but it would be better if it was not included in the serialized user object a

[2021-05-31 09:08] glutengo commented on #232
I would suggest preventing this by not reading the password from the database as suggested here: https://stackoverflow.com/a/62957519/2202290

However I also noticed that the password is encrypted (rather than hashed). This is not considered best practise because the administrators / developers / ... could steal the password of the users by decrypting the password. Background Information: https://

[2021-05-31 09:14] amanganiello90 commented on #232
Hi @glutengo, thanks for the suggestion!.
So, the encryption field is performed automatically by TypeOrm. According to you, maybe we could delete password in the object returned in the controller GET apis.

[2021-05-31 09:32] glutengo commented on #232
I think it would be good to split it into two issues:
The first (this one) handles what is returned by the API. If we do not read the password from the database at all, it will never be included in any response of the controllers. My PR handles this.

The second issue would be about password encryption / hashing. As stated above, I think it would be better if the password was hashed so that there